In [134]:
import numpy as np
import pandas as pd
import seaborn as sns


import csv

import os 
import sklearn
from sklearn.preprocessing import OneHotEncoder

from sklearn.linear_model import LassoCV
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix

import statsmodels.api as sm

import matplotlib.pyplot as plt
%matplotlib inline

In [10]:
data_multi = pd.read_feather('/home/rbarreto/data/scaled-facets-multi-50k-v4.feather')
data_multi.head(5)

,sentiment,respect,insult,humiliate,status,dehumanize,violence_phys,genocide,attack_defend,hatespeech,...,demo_sexual_orien_2,demo_sexual_orien_3,demo_sexual_orien_4,demo_sexual_orien_5,demo_sexual_orien_4_text,demo_ideology,locationlatitude,locationlongitude,identity,hypothesis
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,,4.0,37.55029296875,-77.39420318603515625,0.917681,-1.130178
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,NaN,NaN,NaN,NaN,,4.0,32.9568939208984375,-96.83170318603515625,0.918119,-1.146973
2,4.0,4.0,3.0,2.0,1.0,1.0,0.0,0.0,3.0,1.0,...,NaN,NaN,NaN,NaN,,5.0,39.3361053466796875,-76.53890228271484375,0.985910,-0.207369
3,2.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,...,NaN,NaN,NaN,NaN,,4.0,37.1439971923828125,-94.4727020263671875,0.969761,-0.055536
4,4.0,4.0,3.0,2.0,1.0,1.0,1.0,0.0,2.0,1.0,...,NaN,NaN,NaN,NaN,,4.0,34.215301513671875,-79.64679718017578125,0.935462,0.104225

In [ ]:
#for overall comments we don't see a change

#but then we when we look at comments about their group

#does this mean that they're more lenient / harsher for their own group?

#how do we interpret this? ie what happens if we ask white pepole on white text 

#what does this mean in terms of recommendations of what to do next

#what are applications for social media companies?

In [11]:
from sklearn.metrics import cohen_kappa_score

from statsmodels.stats.inter_rater import fleiss_kappa

In [12]:
#labeler 1, black labelers, black content on dehumanize specifically

df_white_labeler_black_target = data_multi[(data_multi['demo_race_ethnicitie_3'] == 1) & (data_multi['target_race_1'] == 1)]

labeler_1 = df_white_labeler_black_target['dehumanize'].values

len(labeler_1)

2292

In [13]:
#labeler 2, white labelers, black content on dehumanize specifically
df_black_labeler_target = data_multi[(data_multi['demo_race_ethnicitie_6'] == 1) & (data_multi['target_race_1'] == 1)]

labeler_2 = df_black_labeler_target['dehumanize'].values

len(labeler_2)

18545

In [ ]:
#how consistent are white labelers on assigning ratings to comments of a specific type?
#and how consistent are black labelers?

#find population of white labelers and some set of comments that all of those raters rated
#for each of those comments, get the ratings
#each column is a different item (sentiment, dehumnization etc)
#concat diff comments together 
#comment 1, dehumanize is second column

#white annotators rating comments based on white identity 
#black annotators commenting basis of black identity 

#each comment has 9 columns
#total number of columns: 9 items x total number of comments 
#for that set of comments, getting same set of annotators

#purposefully had some overlap but not complete overlap (detailed in the manuscript figure 2)

In [ ]:
#cohen's kappa only works with two different annotators
#here looking at all annotator scores for particular set of comments

#to do: find inter annotator agreement metrics that can work for grups of annotators instead of individual ones
# sklearn.metrics.cohen_kappa_score(labeler_1, labeler_2)

In [5]:
features = ['sentiment', 'respect', 'insult', 'humiliate', 'status',
       'dehumanize', 'violence_phys', 'genocide', 'attack_defend',
       'hatespeech']

In [6]:
data_items = data_multi[features]

In [7]:
data_items.head()

,sentiment,respect,insult,humiliate,status,dehumanize,violence_phys,genocide,attack_defend,hatespeech
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,4.0,4.0,3.0,2.0,1.0,1.0,0.0,0.0,3.0,1.0
3,2.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0
4,4.0,4.0,3.0,2.0,1.0,1.0,1.0,0.0,2.0,1.0

In [6]:
items = ['sentiment', 'respect', 'insult', 'humiliate', 'status',
       'dehumanize', 'violence_phys', 'genocide', 'attack_defend',
       'hatespeech']

In [9]:
range(len(data_multi['sentiment'].value_counts()))

range(0, 5)

In [10]:
category_combo = []
for i in items:
    category_combo.append(i 
    range(len(data_multi[i].value_counts()))

SyntaxError: invalid syntax (<ipython-input-10-d81c2b3bf4d9>, line 4)

In [11]:
for j in range(len(data_multi['sentiment'].value_counts())):
    print(j)

0
1
2
3
4

In [12]:
for i in items:
    print(i)

sentiment
respect
insult
humiliate
status
dehumanize
violence_phys
genocide
attack_defend
hatespeech

In [13]:
category_combo = []
for i in items:
    for j in range(len(data_multi[i].value_counts())):
                   category_combo.append([i + '_' +str(j)])

In [14]:
category_combo

[['sentiment_0'],
 ['sentiment_1'],
 ['sentiment_2'],
 ['sentiment_3'],
 ['sentiment_4'],
 ['respect_0'],
 ['respect_1'],
 ['respect_2'],
 ['respect_3'],
 ['respect_4'],
 ['insult_0'],
 ['insult_1'],
 ['insult_2'],
 ['insult_3'],
 ['humiliate_0'],
 ['humiliate_1'],
 ['humiliate_2'],
 ['status_0'],
 ['status_1'],
 ['dehumanize_0'],
 ['dehumanize_1'],
 ['violence_phys_0'],
 ['violence_phys_1'],
 ['genocide_0'],
 ['genocide_1'],
 ['attack_defend_0'],
 ['attack_defend_1'],
 ['attack_defend_2'],
 ['attack_defend_3'],
 ['hatespeech_0'],
 ['hatespeech_1']]

In [15]:
data_combo = pd.DataFrame()
data_combo[]

SyntaxError: invalid syntax (<ipython-input-15-9ff97e125920>, line 2)

In [16]:
category = []
for i in category_combo:
    category.append(i[0])

In [17]:
category

['sentiment_0',
 'sentiment_1',
 'sentiment_2',
 'sentiment_3',
 'sentiment_4',
 'respect_0',
 'respect_1',
 'respect_2',
 'respect_3',
 'respect_4',
 'insult_0',
 'insult_1',
 'insult_2',
 'insult_3',
 'humiliate_0',
 'humiliate_1',
 'humiliate_2',
 'status_0',
 'status_1',
 'dehumanize_0',
 'dehumanize_1',
 'violence_phys_0',
 'violence_phys_1',
 'genocide_0',
 'genocide_1',
 'attack_defend_0',
 'attack_defend_1',
 'attack_defend_2',
 'attack_defend_3',
 'hatespeech_0',
 'hatespeech_1']

In [18]:
data_combo = data_combo.reindex(data_combo.columns.union(category), axis=1)
data_combo
#the reaosn we are doing the combinations is bc there isn't a 1:1 between category and code
#ie sentiment may be 0-4 but respect will be 1-3

NameError: name 'data_combo' is not defined

In [19]:
#changing the index here so it's all the options
index = [0, 1, 2, 3, 4]
data_combo = pd.DataFrame(columns = category, index = index )

In [20]:
data_combo.columns.values

array(['sentiment_0', 'sentiment_1', 'sentiment_2', 'sentiment_3',
       'sentiment_4', 'respect_0', 'respect_1', 'respect_2', 'respect_3',
       'respect_4', 'insult_0', 'insult_1', 'insult_2', 'insult_3',
       'humiliate_0', 'humiliate_1', 'humiliate_2', 'status_0',
       'status_1', 'dehumanize_0', 'dehumanize_1', 'violence_phys_0',
       'violence_phys_1', 'genocide_0', 'genocide_1', 'attack_defend_0',
       'attack_defend_1', 'attack_defend_2', 'attack_defend_3',
       'hatespeech_0', 'hatespeech_1'], dtype=object)

In [21]:
values = []
for i in items:
    for j in range(len(data_multi[i].value_counts())):
        values.append(data_multi[data_multi[i] == j][i].count())

In [22]:
empty_dict = {}
for i in range(len(category)):
    empty_dict[category[i]] = values[i]

empty_dict

{'sentiment_0': 9658,
 'sentiment_1': 9435,
 'sentiment_2': 19785,
 'sentiment_3': 35243,
 'sentiment_4': 61435,
 'respect_0': 12839,
 'respect_1': 9629,
 'respect_2': 23895,
 'respect_3': 30720,
 'respect_4': 58473,
 'insult_0': 33143,
 'insult_1': 18587,
 'insult_2': 39673,
 'insult_3': 44153,
 'humiliate_0': 65896,
 'humiliate_1': 39382,
 'humiliate_2': 30278,
 'status_0': 66643,
 'status_1': 68913,
 'dehumanize_0': 85581,
 'dehumanize_1': 49975,
 'violence_phys_0': 110890,
 'violence_phys_1': 24666,
 'genocide_0': 121003,
 'genocide_1': 14553,
 'attack_defend_0': 19004,
 'attack_defend_1': 38201,
 'attack_defend_2': 44883,
 'attack_defend_3': 33468,
 'hatespeech_0': 89535,
 'hatespeech_1': 46021}

In [23]:
len(data_multi['labeler_id'])
len(data_multi['comment_id'])

135556

In [24]:
#number of unique comments
len(np.unique(data_multi['comment_id'].values))

39565

In [25]:
#the number of unique labelers that we have in the dataframe
len(np.unique(data_multi['labeler_id'].values))

#so each row needs to add up to the number of unique labelers? 
#is that assumign that the categories are mutually exclusive from one another?

7912

In [26]:
# data_multi.columns.values

In [27]:
fleiss_features = ['sentiment', 'respect', 'insult', 'humiliate', 'status',
       'dehumanize', 'violence_phys', 'genocide', 'attack_defend',
       'hatespeech']

In [28]:
data_fleiss = data_multi[fleiss_features]

In [29]:
column_values_test = sorted(data_fleiss['sentiment'].value_counts().index.to_list())

In [30]:
for i in column_values_test:
    print(i)

0.0
1.0
2.0
3.0
4.0

In [31]:
for column in data_fleiss.columns:
    print(column)

sentiment
respect
insult
humiliate
status
dehumanize
violence_phys
genocide
attack_defend
hatespeech

In [129]:
unique_comment_ids = list(data_multi['comment_id'].unique())
len(unique_comment_ids)

39565

In [33]:
unique_comment_ids[0:10]

[47777, 39773, 47101, 43625, 12538, 11001, 13168, 17034, 40171, 1006]

In [34]:
data_fleiss['sentiment'].value_counts().index.to_list()

[4.0, 3.0, 2.0, 0.0, 1.0]

In [35]:
for column in data_fleiss.columns:
    column_values = sorted(data_fleiss[column].value_counts().index.to_list())
    for comment_id in unique_comment_ids[0:10]:
        connections = [print('comment_id:', comment_id, 'column:', column, 'score:', i, 'number of labelers:', len(np.unique(data_multi[(data_multi[column] == i) & (data_multi['comment_id'] == comment_id)]['labeler_id'].values))) for i in column_values]

comment_id: 47777 column: sentiment score: 0.0 number of labelers: 1
comment_id: 47777 column: sentiment score: 1.0 number of labelers: 4
comment_id: 47777 column: sentiment score: 2.0 number of labelers: 0
comment_id: 47777 column: sentiment score: 3.0 number of labelers: 0
comment_id: 47777 column: sentiment score: 4.0 number of labelers: 0
comment_id: 39773 column: sentiment score: 0.0 number of labelers: 3
comment_id: 39773 column: sentiment score: 1.0 number of labelers: 0
comment_id: 39773 column: sentiment score: 2.0 number of labelers: 0
comment_id: 39773 column: sentiment score: 3.0 number of labelers: 0
comment_id: 39773 column: sentiment score: 4.0 number of labelers: 0
comment_id: 47101 column: sentiment score: 0.0 number of labelers: 0
comment_id: 47101 column: sentiment score: 1.0 number of labelers: 0
comment_id: 47101 column: sentiment score: 2.0 number of labelers: 0
comment_id: 47101 column: sentiment score: 3.0 number of labelers: 2
comment_id: 47101 column: sentiment score: 4.0 number of labelers: 2
comment_id: 43625 column: sentiment score: 0.0 number of labelers: 0
comment_id: 43625 column: sentiment score: 1.0 number of labelers: 0
comment_id: 43625 column: sentiment score: 2.0 number of labelers: 1
comment_id: 43625 column: sentiment score: 3.0 number of labelers: 2
comment_id: 43625 column: sentiment score: 4.0 number of labelers: 1
comment_id: 12538 column: sentiment score: 0.0 number of labelers: 0
comment_id: 12538 column: sentiment score: 1.0 number of labelers: 0
comment_id: 12538 column: sentiment score: 2.0 number of labelers: 0
comment_id: 12538 column: sentiment score: 3.0 number of labelers: 0
comment_id: 12538 column: sentiment score: 4.0 number of labelers: 2
comment_id: 11001 column: sentiment score: 0.0 number of labelers: 1
comment_id: 11001 column: sentiment score: 1.0 number of labelers: 2
comment_id: 11001 column: sentiment score: 2.0 number of labelers: 0
comment_id: 11001 column: sentiment score: 3.0 number of labelers: 0
comment_id: 11001 column: sentiment score: 4.0 number of labelers: 0
comment_id: 13168 column: sentiment score: 0.0 number of labelers: 0
comment_id: 13168 column: sentiment score: 1.0 number of labelers: 0
comment_id: 13168 column: sentiment score: 2.0 number of labelers: 0
comment_id: 13168 column: sentiment score: 3.0 number of labelers: 1
comment_id: 13168 column: sentiment score: 4.0 number of labelers: 2
comment_id: 17034 column: sentiment score: 0.0 number of labelers: 0
comment_id: 17034 column: sentiment score: 1.0 number of labelers: 0
comment_id: 17034 column: sentiment score: 2.0 number of labelers: 0
comment_id: 17034 column: sentiment score: 3.0 number of labelers: 0
comment_id: 17034 column: sentiment score: 4.0 number of labelers: 4
comment_id: 40171 column: sentiment score: 0.0 number of labelers: 0
comment_id: 40171 column: sentiment score: 1.0 number of labelers: 0
comment_id: 40171 column: sentiment score: 2.0 number of labelers: 0
comment_id: 40171 column: sentiment score: 3.0 number of labelers: 2
comment_id: 40171 column: sentiment score: 4.0 number of labelers: 1
comment_id: 1006 column: sentiment score: 0.0 number of labelers: 0
comment_id: 1006 column: sentiment score: 1.0 number of labelers: 0
comment_id: 1006 column: sentiment score: 2.0 number of labelers: 0
comment_id: 1006 column: sentiment score: 3.0 number of labelers: 1
comment_id: 1006 column: sentiment score: 4.0 number of labelers: 2
comment_id: 47777 column: respect score: 0.0 number of labelers: 2
comment_id: 47777 column: respect score: 1.0 number of labelers: 2
comment_id: 47777 column: respect score: 2.0 number of labelers: 1
comment_id: 47777 column: respect score: 3.0 number of labelers: 0
comment_id: 47777 column: respect score: 4.0 number of labelers: 0
comment_id: 39773 column: respect score: 0.0 number of labelers: 3
comment_id: 39773 column: respect score: 1.0 number of labelers: 0
comment_id: 39773 column: respect score: 2.0 number of labelers: 0
comment_id: 39773 column: respect score: 3.0 number of labelers: 0
comment_id: 39773 column: respect score: 4.0 number of labelers: 0
comment_id: 47101 column: respect score: 0.0 number of labelers: 0
comment_id: 47101 column: respect score: 1.0 number of labelers: 0
comment_id: 47101 column: respect score: 2.0 number of labelers: 0
comment_id: 47101 column: respect score: 3.0 number of labelers: 2
comment_id: 47101 column: respect score: 4.0 number of labelers: 2
comment_id: 43625 column: respect score: 0.0 number of labelers: 0
comment_id: 43625 column: respect score: 1.0 number of labelers: 0
comment_id: 43625 column: respect score: 2.0 number of labelers: 0
comment_id: 43625 column: respect score: 3.0 number of labelers: 2
comment_id: 43625 column: respect score: 4.0 number of labelers: 2
comment_id: 12538 column: respect score: 0.0 number of labelers: 0
comment_id: 12538 column: respect score: 1.0 number of labelers: 0
comment_id: 12538 column: respect score: 2.0 number of labelers: 0
comment_id: 12538 column: respect score: 3.0 number of labelers: 0
comment_id: 12538 column: respect score: 4.0 number of labelers: 2
comment_id: 11001 column: respect score: 0.0 number of labelers: 1
comment_id: 11001 column: respect score: 1.0 number of labelers: 2
comment_id: 11001 column: respect score: 2.0 number of labelers: 0
comment_id: 11001 column: respect score: 3.0 number of labelers: 0
comment_id: 11001 column: respect score: 4.0 number of labelers: 0
comment_id: 13168 column: respect score: 0.0 number of labelers: 0
comment_id: 13168 column: respect score: 1.0 number of labelers: 0
comment_id: 13168 column: respect score: 2.0 number of labelers: 1
comment_id: 13168 column: respect score: 3.0 number of labelers: 1
comment_id: 13168 column: respect score: 4.0 number of labelers: 1
comment_id: 17034 column: respect score: 0.0 number of labelers: 0
comment_id: 17034 column: respect score: 1.0 number of labelers: 0
comment_id: 17034 column: respect score: 2.0 number of labelers: 0
comment_id: 17034 column: respect score: 3.0 number of labelers: 0
comment_id: 17034 column: respect score: 4.0 number of labelers: 4
comment_id: 40171 column: respect score: 0.0 number of labelers: 0
comment_id: 40171 column: respect score: 1.0 number of labelers: 0
comment_id: 40171 column: respect score: 2.0 number of labelers: 0
comment_id: 40171 column: respect score: 3.0 number of labelers: 1
comment_id: 40171 column: respect score: 4.0 number of labelers: 2
comment_id: 1006 column: respect score: 0.0 number of labelers: 0
comment_id: 1006 column: respect score: 1.0 number of labelers: 0
comment_id: 1006 column: respect score: 2.0 number of labelers: 1
comment_id: 1006 column: respect score: 3.0 number of labelers: 1
comment_id: 1006 column: respect score: 4.0 number of labelers: 1
comment_id: 47777 column: insult score: 0.0 number of labelers: 5
comment_id: 47777 column: insult score: 1.0 number of labelers: 0
comment_id: 47777 column: insult score: 2.0 number of labelers: 0
comment_id: 47777 column: insult score: 3.0 number of labelers: 0
comment_id: 39773 column: insult score: 0.0 number of labelers: 3
comment_id: 39773 column: insult score: 1.0 number of labelers: 0
comment_id: 39773 column: insult score: 2.0 number of labelers: 0
comment_id: 39773 column: insult score: 3.0 number of labelers: 0
comment_id: 47101 column: insult score: 0.0 number of labelers: 0
comment_id: 47101 column: insult score: 1.0 number of labelers: 0
comment_id: 47101 column: insult score: 2.0 number of labelers: 2
comment_id: 47101 column: insult score: 3.0 number of labelers: 2
comment_id: 43625 column: insult score: 0.0 number of labelers: 0
comment_id: 43625 column: insult score: 1.0 number of labelers: 1
comment_id: 43625 column: insult score: 2.0 number of labelers: 2
comment_id: 43625 column: insult score: 3.0 number of labelers: 1
comment_id: 12538 column: insult score: 0.0 number of labelers: 0
comment_id: 12538 column: insult score: 1.0 number of labelers: 0
comment_id: 12538 column: insult score: 2.0 number of labelers: 1
comment_id: 12538 column: insult score: 3.0 number of labelers: 1
comment_id: 11001 column: insult score: 0.0 number of labelers: 3
comment_id: 11001 column: insult score: 1.0 number of labelers: 0
comment_id: 11001 column: insult score: 2.0 number of labelers: 0
comment_id: 11001 column: insult score: 3.0 number of labelers: 0
comment_id: 13168 column: insult score: 0.0 number of labelers: 0
comment_id: 13168 column: insult score: 1.0 number of labelers: 1
comment_id: 13168 column: insult score: 2.0 number of labelers: 1
comment_id: 13168 column: insult score: 3.0 number of labelers: 1
comment_id: 17034 column: insult score: 0.0 number of labelers: 0
comment_id: 17034 column: insult score: 1.0 number of labelers: 0
comment_id: 17034 column: insult score: 2.0 number of labelers: 1
comment_id: 17034 column: insult score: 3.0 number of labelers: 3
comment_id: 40171 column: insult score: 0.0 number of labelers: 0
comment_id: 40171 column: insult score: 1.0 number of labelers: 0
comment_id: 40171 column: insult score: 2.0 number of labelers: 2
comment_id: 40171 column: insult score: 3.0 number of labelers: 1
comment_id: 1006 column: insult score: 0.0 number of labelers: 0
comment_id: 1006 column: insult score: 1.0 number of labelers: 2
comment_id: 1006 column: insult score: 2.0 number of labelers: 0
comment_id: 1006 column: insult score: 3.0 number of labelers: 1
comment_id: 47777 column: humiliate score: 0.0 number of labelers: 4
comment_id: 47777 column: humiliate score: 1.0 number of labelers: 1
comment_id: 47777 column: humiliate score: 2.0 number of labelers: 0
comment_id: 39773 column: humiliate score: 0.0 number of labelers: 3
comment_id: 39773 column: humiliate score: 1.0 number of labelers: 0
comment_id: 39773 column: humiliate score: 2.0 number of labelers: 0
comment_id: 47101 column: humiliate score: 0.0 number of labelers: 2
comment_id: 47101 column: humiliate score: 1.0 number of labelers: 0
comment_id: 47101 column: humiliate score: 2.0 number of labelers: 2
comment_id: 43625 column: humiliate score: 0.0 number of labelers: 1
comment_id: 43625 column: humiliate score: 1.0 number of labelers: 3
comment_id: 43625 column: humiliate score: 2.0 number of labelers: 0
comment_id: 12538 column: humiliate score: 0.0 number of labelers: 0
comment_id: 12538 column: humiliate score: 1.0 number of labelers: 1
comment_id: 12538 column: humiliate score: 2.0 number of labelers: 1
comment_id: 11001 column: humiliate score: 0.0 number of labelers: 3
comment_id: 11001 column: humiliate score: 1.0 number of labelers: 0
comment_id: 11001 column: humiliate score: 2.0 number of labelers: 0
comment_id: 13168 column: humiliate score: 0.0 number of labelers: 1
comment_id: 13168 column: humiliate score: 1.0 number of labelers: 1
comment_id: 13168 column: humiliate score: 2.0 number of labelers: 1
comment_id: 17034 column: humiliate score: 0.0 number of labelers: 0
comment_id: 17034 column: humiliate score: 1.0 number of labelers: 1
comment_id: 17034 column: humiliate score: 2.0 number of labelers: 3
comment_id: 40171 column: humiliate score: 0.0 number of labelers: 0
comment_id: 40171 column: humiliate score: 1.0 number of labelers: 3
comment_id: 40171 column: humiliate score: 2.0 number of labelers: 0
comment_id: 1006 column: humiliate score: 0.0 number of labelers: 2
comment_id: 1006 column: humiliate score: 1.0 number of labelers: 0
comment_id: 1006 column: humiliate score: 2.0 number of labelers: 1
comment_id: 47777 column: status score: 0.0 number of labelers: 4
comment_id: 47777 column: status score: 1.0 number of labelers: 1
comment_id: 39773 column: status score: 0.0 number of labelers: 3
comment_id: 39773 column: status score: 1.0 number of labelers: 0
comment_id: 47101 column: status score: 0.0 number of labelers: 0
comment_id: 47101 column: status score: 1.0 number of labelers: 4
comment_id: 43625 column: status score: 0.0 number of labelers: 1
comment_id: 43625 column: status score: 1.0 number of labelers: 3
comment_id: 12538 column: status score: 0.0 number of labelers: 0
comment_id: 12538 column: status score: 1.0 number of labelers: 2
comment_id: 11001 column: status score: 0.0 number of labelers: 3
comment_id: 11001 column: status score: 1.0 number of labelers: 0
comment_id: 13168 column: status score: 0.0 number of labelers: 1
comment_id: 13168 column: status score: 1.0 number of labelers: 2
comment_id: 17034 column: status score: 0.0 number of labelers: 1
comment_id: 17034 column: status score: 1.0 number of labelers: 3
comment_id: 40171 column: status score: 0.0 number of labelers: 0
comment_id: 40171 column: status score: 1.0 number of labelers: 3
comment_id: 1006 column: status score: 0.0 number of labelers: 1
comment_id: 1006 column: status score: 1.0 number of labelers: 2
comment_id: 47777 column: dehumanize score: 0.0 number of labelers: 5
comment_id: 47777 column: dehumanize score: 1.0 number of labelers: 0
comment_id: 39773 column: dehumanize score: 0.0 number of labelers: 3
comment_id: 39773 column: dehumanize score: 1.0 number of labelers: 0
comment_id: 47101 column: dehumanize score: 0.0 number of labelers: 2
comment_id: 47101 column: dehumanize score: 1.0 number of labelers: 2
comment_id: 43625 column: dehumanize score: 0.0 number of labelers: 3
comment_id: 43625 column: dehumanize score: 1.0 number of labelers: 1
comment_id: 12538 column: dehumanize score: 0.0 number of labelers: 0
comment_id: 12538 column: dehumanize score: 1.0 number of labelers: 2
comment_id: 11001 column: dehumanize score: 0.0 number of labelers: 3
comment_id: 11001 column: dehumanize score: 1.0 number of labelers: 0
comment_id: 13168 column: dehumanize score: 0.0 number of labelers: 2
comment_id: 13168 column: dehumanize score: 1.0 number of labelers: 1
comment_id: 17034 column: dehumanize score: 0.0 number of labelers: 2
comment_id: 17034 column: dehumanize score: 1.0 number of labelers: 2
comment_id: 40171 column: dehumanize score: 0.0 number of labelers: 1
comment_id: 40171 column: dehumanize score: 1.0 number of labelers: 2
comment_id: 1006 column: dehumanize score: 0.0 number of labelers: 1
comment_id: 1006 column: dehumanize score: 1.0 number of labelers: 2
comment_id: 47777 column: violence_phys score: 0.0 number of labelers: 5
comment_id: 47777 column: violence_phys score: 1.0 number of labelers: 0
comment_id: 39773 column: violence_phys score: 0.0 number of labelers: 3
comment_id: 39773 column: violence_phys score: 1.0 number of labelers: 0
comment_id: 47101 column: violence_phys score: 0.0 number of labelers: 4
comment_id: 47101 column: violence_phys score: 1.0 number of labelers: 0
comment_id: 43625 column: violence_phys score: 0.0 number of labelers: 4
comment_id: 43625 column: violence_phys score: 1.0 number of labelers: 0
comment_id: 12538 column: violence_phys score: 0.0 number of labelers: 0
comment_id: 12538 column: violence_phys score: 1.0 number of labelers: 2
comment_id: 11001 column: violence_phys score: 0.0 number of labelers: 3
comment_id: 11001 column: violence_phys score: 1.0 number of labelers: 0
comment_id: 13168 column: violence_phys score: 0.0 number of labelers: 3
comment_id: 13168 column: violence_phys score: 1.0 number of labelers: 0
comment_id: 17034 column: violence_phys score: 0.0 number of labelers: 3
comment_id: 17034 column: violence_phys score: 1.0 number of labelers: 1
comment_id: 40171 column: violence_phys score: 0.0 number of labelers: 3
comment_id: 40171 column: violence_phys score: 1.0 number of labelers: 0
comment_id: 1006 column: violence_phys score: 0.0 number of labelers: 2
comment_id: 1006 column: violence_phys score: 1.0 number of labelers: 1
comment_id: 47777 column: genocide score: 0.0 number of labelers: 5
comment_id: 47777 column: genocide score: 1.0 number of labelers: 0
comment_id: 39773 column: genocide score: 0.0 number of labelers: 3
comment_id: 39773 column: genocide score: 1.0 number of labelers: 0
comment_id: 47101 column: genocide score: 0.0 number of labelers: 4
comment_id: 47101 column: genocide score: 1.0 number of labelers: 0
comment_id: 43625 column: genocide score: 0.0 number of labelers: 4
comment_id: 43625 column: genocide score: 1.0 number of labelers: 0
comment_id: 12538 column: genocide score: 0.0 number of labelers: 2
comment_id: 12538 column: genocide score: 1.0 number of labelers: 0
comment_id: 11001 column: genocide score: 0.0 number of labelers: 3
comment_id: 11001 column: genocide score: 1.0 number of labelers: 0
comment_id: 13168 column: genocide score: 0.0 number of labelers: 3
comment_id: 13168 column: genocide score: 1.0 number of labelers: 0
comment_id: 17034 column: genocide score: 0.0 number of labelers: 4
comment_id: 17034 column: genocide score: 1.0 number of labelers: 0
comment_id: 40171 column: genocide score: 0.0 number of labelers: 3
comment_id: 40171 column: genocide score: 1.0 number of labelers: 0
comment_id: 1006 column: genocide score: 0.0 number of labelers: 3
comment_id: 1006 column: genocide score: 1.0 number of labelers: 0
comment_id: 47777 column: attack_defend score: 0.0 number of labelers: 4
comment_id: 47777 column: attack_defend score: 1.0 number of labelers: 1
comment_id: 47777 column: attack_defend score: 2.0 number of labelers: 0
comment_id: 47777 column: attack_defend score: 3.0 number of labelers: 0
comment_id: 39773 column: attack_defend score: 0.0 number of labelers: 2
comment_id: 39773 column: attack_defend score: 1.0 number of labelers: 1
comment_id: 39773 column: attack_defend score: 2.0 number of labelers: 0
comment_id: 39773 column: attack_defend score: 3.0 number of labelers: 0
comment_id: 47101 column: attack_defend score: 0.0 number of labelers: 0
comment_id: 47101 column: attack_defend score: 1.0 number of labelers: 0
comment_id: 47101 column: attack_defend score: 2.0 number of labelers: 2
comment_id: 47101 column: attack_defend score: 3.0 number of labelers: 2
comment_id: 43625 column: attack_defend score: 0.0 number of labelers: 0
comment_id: 43625 column: attack_defend score: 1.0 number of labelers: 1
comment_id: 43625 column: attack_defend score: 2.0 number of labelers: 3
comment_id: 43625 column: attack_defend score: 3.0 number of labelers: 0
comment_id: 12538 column: attack_defend score: 0.0 number of labelers: 0
comment_id: 12538 column: attack_defend score: 1.0 number of labelers: 0
comment_id: 12538 column: attack_defend score: 2.0 number of labelers: 2
comment_id: 12538 column: attack_defend score: 3.0 number of labelers: 0
comment_id: 11001 column: attack_defend score: 0.0 number of labelers: 2
comment_id: 11001 column: attack_defend score: 1.0 number of labelers: 1
comment_id: 11001 column: attack_defend score: 2.0 number of labelers: 0
comment_id: 11001 column: attack_defend score: 3.0 number of labelers: 0
comment_id: 13168 column: attack_defend score: 0.0 number of labelers: 0
comment_id: 13168 column: attack_defend score: 1.0 number of labelers: 0
comment_id: 13168 column: attack_defend score: 2.0 number of labelers: 3
comment_id: 13168 column: attack_defend score: 3.0 number of labelers: 0
comment_id: 17034 column: attack_defend score: 0.0 number of labelers: 0
comment_id: 17034 column: attack_defend score: 1.0 number of labelers: 0
comment_id: 17034 column: attack_defend score: 2.0 number of labelers: 2
comment_id: 17034 column: attack_defend score: 3.0 number of labelers: 2
comment_id: 40171 column: attack_defend score: 0.0 number of labelers: 1
comment_id: 40171 column: attack_defend score: 1.0 number of labelers: 0
comment_id: 40171 column: attack_defend score: 2.0 number of labelers: 2
comment_id: 40171 column: attack_defend score: 3.0 number of labelers: 0
comment_id: 1006 column: attack_defend score: 0.0 number of labelers: 0
comment_id: 1006 column: attack_defend score: 1.0 number of labelers: 1
comment_id: 1006 column: attack_defend score: 2.0 number of labelers: 1
comment_id: 1006 column: attack_defend score: 3.0 number of labelers: 1

In [36]:
big_list = []

for column in data_fleiss.columns:

    column_values = sorted(data_fleiss[column].value_counts().index.to_list())
    
    for comment_id in unique_comment_ids[0:10]:
        for i in column_values:
            big_list.append([comment_id, column + str(int(i)), len(np.unique(data_multi[(data_multi[column] == i) & (data_multi['comment_id'] == comment_id)]['labeler_id'].values))])
            #print('comment_id:', comment_id, 'column:', column, 'score:', i, 'number of labelers:', len(np.unique(data_multi[(data_multi[column] == i) & (data_multi['comment_id'] == comment_id)]['labeler_id'].values)))

In [397]:
len(big_list[0])

3

In [214]:
big_list[0]

[47777, 'sentiment0', 1]

In [37]:
comment_id_list = []
column_score_list = []
number_labelers_list = []


for column in data_fleiss.columns:

    column_values = sorted(data_fleiss[column].value_counts().index.to_list())
    
    for comment_id in unique_comment_ids:
        for i in column_values:
            comment_id_list.append(comment_id)
            column_score_list.append(column + '_' + str(int(i)))
            number_labelers_list.append(len(np.unique(data_multi[(data_multi[column] == i) & (data_multi['comment_id'] == comment_id)]['labeler_id'].values)))
            
            
            
            #big_list.append([comment_id, column + str(int(i)), len(np.unique(data_multi[(data_multi[column] == i) & (data_multi['comment_id'] == comment_id)]['labeler_id'].values))])
            #print('comment_id:', comment_id, 'column:', column, 'score:', i, 'number of labelers:', len(np.unique(data_multi[(data_multi[column] == i) & (data_multi['comment_id'] == comment_id)]['labeler_id'].values)))

In [345]:
len(number_labelers_list)

310

In [388]:
#comment_id_list
list_index = list(range(310))
# list_index
# comment_id_list = []
# column_score_list = []
# number_labelers_list = []

In [38]:
column_score_list[0:10]

['sentiment_0',
 'sentiment_1',
 'sentiment_2',
 'sentiment_3',
 'sentiment_4',
 'sentiment_0',
 'sentiment_1',
 'sentiment_2',
 'sentiment_3',
 'sentiment_4']

In [387]:
#trying to see if i can just pass a list of unique comment ids bc int not iterable below
df = pd.DataFrame(comment_id_list, columns = ['comment_id_list'])
df_grouped = df.groupby(comment_id_list).mean()

df_grouped_list = df_grouped['comment_id_list'].to_list()

In [50]:
dict_score_labelers = dict(zip(column_score_list, number_labelers_list))
print(len(dict_score_labelers))
print(len(column_score_list))
print(len(number_labelers_list))
print(len(comment_id_list))

31
1226515
1226515
1226515

In [60]:
dct = dict(map(lambda x, y, z: (x, {y: z}), comment_id_list,  column_score_list, number_labelers_list))

#something keeps happening where the column_score_list just ends up being hatespeech_1
# for outerDict, innerDict in dct.items():
#     for innerDictKeys, innerDictValues in innerDict.items():
#         print(innerDictKeys)

[0.0, 1.0]

In [51]:
intermediate_dict = {}
for column_score, number_labelers in zip(column_score_list, number_labelers_list):
    intermediate_dict[column_score] = number_labelers

In [53]:
len(intermediate_dict) 
#i think this is happening bc there are repeats in the names of the keys

31

In [42]:
dict(zip(comment_id_list, dict_score_labelers ))

{47777: 'sentiment_4',
 39773: 'respect_4',
 47101: 'humiliate_0',
 43625: 'dehumanize_0',
 12538: 'genocide_1',
 11001: 'hatespeech_0',
 13168: 'hatespeech_1'}

In [40]:
# output1 = {}

# for comment_id, column_score, number_labelers in zip(comment_id_list, column_score_list, number_labelers_list):
#     output1[comment_id] = dict(zip(column_score, number_labelers))

In [61]:
output = {}
for comment_id, column_score, number_labelers in zip(comment_id_list, column_score_list, number_labelers_list):
    output[comment_id] = {'column_score': column_score,
                         'number_labelers': number_labelers}
    
    
    #dict(zip(column_score, number_labelers))

    
#Probably a for loop where you extract the value from â€œcolumn_scoreâ€ 
#and save that as the key in a new dictionary, 
#then the value from â€œnumber_labelersâ€ 
#and make that the value associated with the new key

In [74]:
new_dict = {}
for outerKeys, innerDict in output.items():
    for innerKeys, innerValues in innerDict.items(): 
        if innerKeys == 'column_score':
            print(innerValues)

In [86]:
print(column_score_list[0:10])
print(comment_id_list[0:10])
print(number_labelers_list[0:10])

['sentiment_0', 'sentiment_1', 'sentiment_2', 'sentiment_3', 'sentiment_4', 'sentiment_0', 'sentiment_1', 'sentiment_2', 'sentiment_3', 'sentiment_4']
[47777, 47777, 47777, 47777, 47777, 39773, 39773, 39773, 39773, 39773]
[1, 4, 0, 0, 0, 3, 0, 0, 0, 0]

In [104]:
res = [{comment_id: {column_score:num_labelers}} for (comment_id, column_score, num_labelers) in zip(comment_id_list, column_score_list, number_labelers_list)]

In [194]:
res[0]

{47777: {'sentiment_0': 1}}

In [172]:
ultra_res = [{'comment_id': comment_id, 'column_score': column_score, 'num_labelers': num_labelers} for (comment_id, column_score, num_labelers) in zip(comment_id_list, column_score_list, number_labelers_list)]

In [195]:
ultra_res[0]

{'comment_id': 47777, 'column_score': 'sentiment_0', 'num_labelers': 1}

In [197]:
df = pd.DataFrame(ultra_res)

df.head(5)

In [210]:
df[df['comment_id'] == 47777]

         comment_id     column_score  num_labelers
0             47777      sentiment_0             1
1             47777      sentiment_1             4
2             47777      sentiment_2             0
3             47777      sentiment_3             0
4             47777      sentiment_4             0
197825        47777        respect_0             2
197826        47777        respect_1             2
197827        47777        respect_2             1
197828        47777        respect_3             0
197829        47777        respect_4             0
395650        47777         insult_0             5
395651        47777         insult_1             0
395652        47777         insult_2             0
395653        47777         insult_3             0
553910        47777      humiliate_0             4
553911        47777      humiliate_1             1
553912        47777      humiliate_2             0
672605        47777         status_0             4
672606        47777         status_1             1
751735        47777     dehumanize_0             5
751736        47777     dehumanize_1             0
830865        47777  violence_phys_0             5
830866        47777  violence_phys_1             0
909995        47777       genocide_0             5
909996        47777       genocide_1             0
989125        47777  attack_defend_0             4
989126        47777  attack_defend_1             1
989127        47777  attack_defend_2             0
989128        47777  attack_defend_3             0
1147385       47777     hatespeech_0             5
1147386       47777     hatespeech_1             0

In [239]:
df_fleiss_sentiment = pd.DataFrame(columns=sorted(column_sentiment))
df_fleiss_sentiment
#could also do hatespeech sum items as df_fleiss_senitment...less useful

Empty DataFrame
Columns: [sentiment_0, sentiment_1, sentiment_2, sentiment_3, sentiment_4]
Index: []

In [247]:
df_sentiment[df_sentiment['comment_id'] == 47777][['column_score', 'num_labelers']]

  column_score  num_labelers
0  sentiment_0             1
1  sentiment_1             4
2  sentiment_2             0
3  sentiment_3             0
4  sentiment_4             0

In [352]:
df_sentiment_agg[df_sentiment_agg['comment_id'] == 47777]

,comment_id,column_score,num_labelers
37679,47777,"[sentiment_0, sentiment_1, sentiment_2, sentim...","[1, 4, 0, 0, 0]"

In [353]:
comment_id_sentiment = df_sentiment_agg['comment_id'].to_list()

In [253]:
df_sentiment_agg = df_sentiment.groupby('comment_id', as_index=False).agg(lambda x: x.tolist())

In [285]:
labelers_per_comment = []
for index, row in df_sentiment_agg.iterrows():
    for labelers in row['num_labelers']:
        labelers_per_comment.append(labelers)
    #print(row['num_labelers'])

In [288]:
labelers_per_comment[0:5]

[0, 0, 0, 1, 3]

In [290]:
labelers_per_comment = []
for index, row in df_sentiment_agg.iterrows():
    labelers_per_comment.append(row['num_labelers'])

In [292]:
labelers_per_comment[0:5]
len(labelers_per_comment)

39565

In [309]:
labelers_per_comment[0]

[0, 0, 0, 1, 3]

In [308]:
labelers_per_comment[39564]

[0, 0, 0, 0, 3]

In [295]:
df_fleiss_sentiment.append(pd.Series(labelers_per_comment[0], df_fleiss_sentiment.columns), ignore_index=True)

  sentiment_0 sentiment_1 sentiment_2 sentiment_3 sentiment_4
0           0           0           0           1           3

In [324]:
column_sentiment
len(labelers_per_comment)

39565

In [362]:
df_fleiss_sentiment = pd.DataFrame(labelers_per_comment, columns = column_sentiment)

In [354]:
len(comment_id_sentiment)

39565

In [360]:
df_fleiss_sentiment['comment_id'] = comment_id_sentiment
df_fleiss_sentiment[df_fleiss_sentiment['comment_id'] == 47777]

,sentiment_0,sentiment_1,sentiment_2,sentiment_3,sentiment_4,comment_id
37679,1,4,0,0,0,47777

In [426]:
df_fleiss_sentiment

       sentiment_0  sentiment_1  sentiment_2  sentiment_3  sentiment_4
0                0            0            0            1            3
1                0            0            0            2            1
2                0            0            2            1            0
3                0            0            0            1            1
4                0            0            3            0            0
...            ...          ...          ...          ...          ...
39560            0            0            0            0            4
39561            0            0            0            0            1
39562            1            1            0            0            0
39563            0            0            0            0            1
39564            0            0            0            0            3

[39565 rows x 5 columns]

In [363]:
sentiment_array = df_fleiss_sentiment.to_numpy()

In [414]:
from platform import python_version

print(python_version())

3.9.5

In [413]:
from statsmodels.stats.inter_rater import fleiss_kappa
fleiss_kappa(sentiment_array, method='fleiss')

AssertionError:

#trying with disagreement library

https://towardsdatascience.com/assessing-annotator-disagreements-in-python-to-build-a-robust-dataset-for-machine-learning-16c74b49f043

In [53]:
! pip install disagree

Collecting disagree
  Downloading disagree-1.2.3-py3-none-any.whl (10 kB)
Requirement already satisfied: scipy>=1.1.0 in /home/rbarreto/miniconda3/envs/hatespeech/lib/python3.9/site-packages (from disagree) (1.6.2)
Requirement already satisfied: pandas>=0.23.0 in /home/rbarreto/miniconda3/envs/hatespeech/lib/python3.9/site-packages (from disagree) (1.2.5)
Requirement already satisfied: tqdm>=4.26.0 in /home/rbarreto/miniconda3/envs/hatespeech/lib/python3.9/site-packages (from disagree) (4.62.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/rbarreto/miniconda3/envs/hatespeech/lib/python3.9/site-packages (from pandas>=0.23.0->disagree) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /home/rbarreto/miniconda3/envs/hatespeech/lib/python3.9/site-packages (from pandas>=0.23.0->disagree) (2021.1)
Requirement already satisfied: numpy>=1.16.5 in /home/rbarreto/miniconda3/envs/hatespeech/lib/python3.9/site-packages (from pandas>=0.23.0->disagree) (1.20.2)
Requirement already satisfied: six>=1.5 in /home/rbarreto/miniconda3/envs/hatespeech/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas>=0.23.0->disagree) (1.16.0)
Installing collected packages: disagree
Successfully installed disagree-1.2.3

In [60]:
! python3 -m pip install --index-url https://pypi.org/project/ disagree

Looking in indexes: https://pypi.org/project/
Requirement already satisfied: disagree in /home/rbarreto/miniconda3/envs/hatespeech/lib/python3.9/site-packages (1.2.3)
Requirement already satisfied: pandas>=0.23.0 in /home/rbarreto/miniconda3/envs/hatespeech/lib/python3.9/site-packages (from disagree) (1.2.5)
Requirement already satisfied: tqdm>=4.26.0 in /home/rbarreto/miniconda3/envs/hatespeech/lib/python3.9/site-packages (from disagree) (4.62.2)
Requirement already satisfied: scipy>=1.1.0 in /home/rbarreto/miniconda3/envs/hatespeech/lib/python3.9/site-packages (from disagree) (1.6.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/rbarreto/miniconda3/envs/hatespeech/lib/python3.9/site-packages (from pandas>=0.23.0->disagree) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /home/rbarreto/miniconda3/envs/hatespeech/lib/python3.9/site-packages (from pandas>=0.23.0->disagree) (2021.1)
Requirement already satisfied: numpy>=1.16.5 in /home/rbarreto/miniconda3/envs/hatespeech/lib/python3.9/site-packages (from pandas>=0.23.0->disagree) (1.20.2)
Requirement already satisfied: six>=1.5 in /home/rbarreto/miniconda3/envs/hatespeech/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas>=0.23.0->disagree) (1.16.0)

In [1]:
pip install disagree

Requirement already satisfied: disagree in /home/rbarreto/miniconda3/envs/hatespeech/lib/python3.9/site-packages (0.1.6)
Requirement already satisfied: scipy>=1.1.0 in /home/rbarreto/miniconda3/envs/hatespeech/lib/python3.9/site-packages (from disagree) (1.6.2)
Requirement already satisfied: pandas>=0.23.0 in /home/rbarreto/miniconda3/envs/hatespeech/lib/python3.9/site-packages (from disagree) (1.2.5)
Requirement already satisfied: matplotlib>=2.2.3 in /home/rbarreto/miniconda3/envs/hatespeech/lib/python3.9/site-packages (from disagree) (3.3.4)
Requirement already satisfied: tqdm>=4.26.0 in /home/rbarreto/miniconda3/envs/hatespeech/lib/python3.9/site-packages (from disagree) (4.62.2)
Requirement already satisfied: cycler>=0.10 in /home/rbarreto/miniconda3/envs/hatespeech/lib/python3.9/site-packages (from matplotlib>=2.2.3->disagree) (0.10.0)
Requirement already satisfied: numpy>=1.15 in /home/rbarreto/miniconda3/envs/hatespeech/lib/python3.9/site-packages (from matplotlib>=2.2.3->disagree) (1.20.2)
Requirement already satisfied: pillow>=6.2.0 in /home/rbarreto/miniconda3/envs/hatespeech/lib/python3.9/site-packages (from matplotlib>=2.2.3->disagree) (8.2.0)
Requirement already satisfied: python-dateutil>=2.1 in /home/rbarreto/miniconda3/envs/hatespeech/lib/python3.9/site-packages (from matplotlib>=2.2.3->disagree) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /home/rbarreto/miniconda3/envs/hatespeech/lib/python3.9/site-packages (from matplotlib>=2.2.3->disagree) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/rbarreto/miniconda3/envs/hatespeech/lib/python3.9/site-packages (from matplotlib>=2.2.3->disagree) (1.3.1)
Requirement already satisfied: six in /home/rbarreto/miniconda3/envs/hatespeech/lib/python3.9/site-packages (from cycler>=0.10->matplotlib>=2.2.3->disagree) (1.16.0)
Requirement already satisfied: pytz>=2017.3 in /home/rbarreto/miniconda3/envs/hatespeech/lib/python3.9/site-packages (from pandas>=0.23.0->disagree) (2021.1)
Note: you may need to restart the kernel to use updated packages.

In [3]:
! pip3 install disagree

Requirement already satisfied: disagree in /home/rbarreto/miniconda3/envs/hatespeech/lib/python3.9/site-packages (1.2.3)
Requirement already satisfied: scipy>=1.1.0 in /home/rbarreto/miniconda3/envs/hatespeech/lib/python3.9/site-packages (from disagree) (1.6.2)
Requirement already satisfied: pandas>=0.23.0 in /home/rbarreto/miniconda3/envs/hatespeech/lib/python3.9/site-packages (from disagree) (1.2.5)
Requirement already satisfied: tqdm>=4.26.0 in /home/rbarreto/miniconda3/envs/hatespeech/lib/python3.9/site-packages (from disagree) (4.62.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/rbarreto/miniconda3/envs/hatespeech/lib/python3.9/site-packages (from pandas>=0.23.0->disagree) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /home/rbarreto/miniconda3/envs/hatespeech/lib/python3.9/site-packages (from pandas>=0.23.0->disagree) (2021.1)
Requirement already satisfied: numpy>=1.16.5 in /home/rbarreto/miniconda3/envs/hatespeech/lib/python3.9/site-packages (from pandas>=0.23.0->disagree) (1.20.2)
Requirement already satisfied: six>=1.5 in /home/rbarreto/miniconda3/envs/hatespeech/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas>=0.23.0->disagree) (1.16.0)

In [6]:
# from disagree import BiDisagreements
# from disagree import Metrics, Krippendorff

In [14]:

def convert_dataframe(df):
    """
    Input: df, with n(i,j)=jth annotation for ith data point
    Output: new_data, dataframe with inputs updated to numbers indexed from zero
            numbered_labels, list of integer labels from 0
            data_dict, dict converting original labels to new integer labels
    """
    data_dict, numbered_labels = flexible_data(df)

    new_data = { }
    for idx, col in df.iteritems():
        new_col = []
        isnull_col = list(pd.isnull(col))
        for i in range(len(col)):
            isnull = isnull_col[i]
            if isnull:
                new_col = new_col + [None]
            else:
                new_col.append(data_dict[col[i]])
        new_data[idx] = new_col

In [15]:
import numpy as np
import pandas as pd
import math
import sys




DATAFRAME_ERROR = "Data input must be a pandas DataFrame"


def main_input_checks(df, labels):
    if not isinstance(df, pd.DataFrame):
        raise TypeError(DATAFRAME_ERROR)


class BiDisagreements():
    """
    Used for assessing absolute disagreements from manual annotations, with the
    ability to visualise bidisagreements, and see values of other disagreement
    quantities.
    """
    def __init__(self, df):
        """
        Parameters
        ----------
        annotator_labels: pandas dataframe, required
            Columns indexed by annotator name; rows indexed by labelled instance
        labels: list, required
            List of all the possible labels
            e.g. [label1, label2, label3, ... ]
        """
        converted_data = convert_dataframe(df)
        self.df = converted_data[0]
        self.labels = converted_data[1]
        self.data_dict = converted_data[2]

        n = len(self.labels)
        self.matrix = np.zeros((n, n))
        self.reference_length = self.df.shape[0]

        main_input_checks(self.df, self.labels)

        # Initialise the empty agreements dictionary (good format for access efficiency later)
        # Of the form { label1: {label1: num_disagreements, label2: num_disagreements, ... },
        #               label2: {label1: num_disagreements, label2: num_disagreements, ... }, ... }
        self.agreements_dict = {}
        for label1 in self.labels:
            if label1 not in self.agreements_dict and label1 != None:
                self.agreements_dict[label1] = {}
            else:
                continue
            for label2 in self.labels:
                if label2 not in self.agreements_dict[label1] and label2 != None:
                    self.agreements_dict[label1][label2] = 0

    def agreements_summary(self):
        """
        Prints out all of the return types outlined below.
        Parameters
        ----------
        None
        Returns
        -------
        full_agreement: int
            Number of instances labelled with no disagreements
        bidisagreement: int
            Number of instances labelled with 1 disagreement
        tridisagreement: int
            Number of instances labelled with 2 disagreements
        more: int
            Number of instances labelled with 3 or more disagreements
        """
        full_agreement, bidisagreement, tridisagreement, more = 0, 0, 0, 0
        for idx, row in self.df.iterrows():
            labels = [int(label) for label in row if not math.isnan(label)]
            if len(labels) <= 1: # If no one labelled or if 1 person labelled
                continue
            num_disagreements = len(set(labels))
            if num_disagreements == 1:
                full_agreement += 1
            elif num_disagreements == 2:
                bidisagreement += 1
            elif num_disagreements == 3:
                tridisagreement += 1
            else:
                more += 1

        print("Number of instances with:")
        print("=========================")
        print("No disagreement: " + str(full_agreement))
        print("Bidisagreement: " + str(bidisagreement))
        print("Tridisagreement: " + str(tridisagreement))
        print("More disagreements: " + str(more))

        return full_agreement, bidisagreement, tridisagreement, more

    def dict2matrix(self):
        # Used to convert agreements dictionary to agreements matrix
        dict_ = self.agreements_dict
        for key1 in dict_:
            for key2 in dict_[key1]:
                self.matrix[key1][key2] = dict_[key1][key2]

    def agreements_matrix(self, normalise=False):
        """
        Parameters
        ----------
        None
        Returns
        -------
        agreements_matrix: numpy array
            symmetric matrix of size (len(labels) x len(labels)), showing
            label disagreements between annotators
        """
        for idx, row in self.df.iterrows():
            labels = [int(label) for label in row if not math.isnan(label)]
            k = set(labels)
            if len(k) == 2:
                k = list(k)
                label1 = k[0]
                label2 = k[1]
                self.agreements_dict[label1][label2] += 1
                self.agreements_dict[label2][label1] += 1

        self.dict2matrix()

        if normalise:
            num_labels = np.sum(self.matrix, axis=None) / 2
            self.matrix = np.divide(self.matrix, num_labels)

        return self.matrix

In [132]:
import numpy as np
import pandas as pd
import itertools
import math
import sys

from collections import Counter
from tqdm import tqdm


from scipy.stats import pearsonr, kendalltau, spearmanr


DATAFRAME_ERROR = "Data input must be a pandas DataFrame"
ANNOTATORS_ERROR = "Invalid choice of annotators.\n Possible options: "
KRIPP_DATA_TYPE_ERROR = """Invalid 'data_type' input.\n Possible options are
(nominal, ordinal, interval, ratio)"""
MATRIX_INPUT_ERROR = """Error: The func argument must take two annotators as
arguments. You may choose joint_probability or cohens_kappa"""


def main_input_checks(df, labels):
    if not isinstance(df, pd.DataFrame):
        raise TypeError(DATAFRAME_ERROR)


class Metrics():
    def __init__(self, df):
        converted_data = convert_dataframe(df)
        self.df = converted_data[0]
        self.labels = converted_data[1]
        self.data_dict = converted_data[2]
        main_input_checks(self.df, self.labels)

    def joint_probability(self, ann1, ann2):
        """
        The joint probability of agreement between two annotators.
        The most basic (and least useful) statistic to measure pairwise
        annotator agreement for non-continuous labelling.
        Parameters
        ----------
        ann1: string
            Name of one of the annotators
        ann2: string
            Name of another annotator
        Returns
        -------
        Probability of the two annotators agreeing across all instances
        """
        all_anns = self.df.columns
        if (ann1 not in all_anns or ann2 not in all_anns):
            raise ValueError(ANNOTATORS_ERROR + str(list(all_anns)))

        df = self.df.dropna(subset=[ann1, ann2])
        ann1_labels = df[ann1].values.tolist()
        ann2_labels = df[ann2].values.tolist()
        zipped = zip(ann1_labels, ann2_labels)
        agree = [1 if label[0] == label[1] else 0 for label in zipped]

        return sum(agree) / len(agree)

    def cohens_kappa(self, ann1, ann2):
        """
        A statistic to measure pairwise annotator agreement for non-continuous
        labelling.
        Parameters
        ----------
        ann1: string
            Name of one of the annotators
        ann2: string
            Name of another annotator
        Returns
        -------
        Cohen's kappa statistic between the two annotators
        """
        all_anns = self.df.columns
        if (ann1 not in all_anns or ann2 not in all_anns):
            raise ValueError(ANNOTATORS_ERROR + str(list(all_anns)))

        df = self.df.dropna(subset=[ann1, ann2])
        ann1_labels = df[ann1].values.tolist()
        ann2_labels = df[ann2].values.tolist()
        num_instances = self.df.shape[0]
        num_categories = len(self.labels)

        ann1_num, ann2_num = [], []
        for label in self.labels:
            ann1_counter = Counter(ann1_labels)
            ann2_counter = Counter(ann2_labels)
            ann1_num.append(ann1_counter[label])
            ann2_num.append(ann2_counter[label])

        assert len(ann1_num) == len(self.labels)
        assert len(ann1_num) == len(self.labels)

        summation = 0
        for i in range(len(ann1_num)):
            summation += (ann1_num[i] * ann2_num[i])

        chance_agreement_prob = (1 / num_instances ** 2) * summation
        observed_agreement_prob = self.joint_probability(ann1, ann2)

        if chance_agreement_prob == 1:
            return 1.

        numerator = observed_agreement_prob - chance_agreement_prob
        denominator = 1. - chance_agreement_prob

        return numerator / denominator

    def df2table(self, df):
        # fleiss_kappa() helper function
        # Convert df(rows=instances, cols=annotators)
        # to df(rows=instances, cols=labels)
        n = len(self.labels)

        df_rows = []
        for idx, row in df.iterrows():
            labels = [0] * n
            for label in row:
                if not math.isnan(label):
                    labels[int(label)] += 1
            df_rows.append(labels)

        return pd.DataFrame(df_rows, columns=self.labels)

    def proportion_label_per_category(self, df):
        # fleiss_kappa() helper function
        # Formula for calculating the proportion of all annotator
        # labels to the j-th category (list of all j)
        num_assignments = list(df.sum(axis=0))
        normaliser = 1. / sum(num_assignments)

        return [normaliser * i for i in num_assignments]

    def rater_agreement_extent(self, df):
        # fleiss_kappa() helper function
        # Formula for calculating the extent to which annotators
        # agree on instance j (list of all j)
        # Returns 1 for full agreement
        total_labels = list(df.sum(axis=1))
        df2 = df ** 2
        total_labels_squared = list(df2.sum(axis=1))
        v1 = np.array(total_labels_squared)
        v2 = np.array(total_labels)
        summations = list(v1 - v2)

        final = []
        for i in range(len(total_labels)):
            try:
                normalise = 1. / (total_labels[i] * (total_labels[i] - 1.))
            except ZeroDivisionError:
                normalise = 0
            final.append(normalise * summations[i])

        return final

    def fleiss_kappa(self):
        """
        A statistic to measure agreement between any number of annotators
        for non-continuous labelling.
        Parameters
        ----------
        None
        Returns
        -------
        Fleiss' kappa statistic for all the annotators
        """
        labels_per_instance = []
        for i, row in self.df.iterrows():
            num_nans = sum(math.isnan(k) for k in row)
            labels_per_instance.append(len(row) - num_nans)

        num_instances = self.df.shape[0]
        fleiss_df = self.df2table(self.df)
        prop_labels_per_cat = self.proportion_label_per_category(fleiss_df)
        rater_agreement_extent = self.rater_agreement_extent(fleiss_df)

        mean_P = (1 / num_instances) * sum(rater_agreement_extent)
        mean_p = sum([i ** 2 for i in prop_labels_per_cat])

        if mean_p == 1:
            return 1.

        return (mean_P - mean_p) / (1 - mean_p)

    def correlation(self, ann1, ann2, measure="pearson"):
        """
        Computes the correlation coefficient as a statistic for
        the agreement between two annotators. This
        method uses the scipy.stats module.
        Only appropriate for datasets larger than 500 or so (see scipy
        documentation).
        Parameters
        ----------
        ann1: string
            Name of one of the annotators
        ann2: string
            Name of another annotator
        measure: string, ("kendall", "pearson", "spearman")
            Pearson r, or Kendall tau, or Spearman rho statistics
            Pearson: assumes continuously labelled data
            Kendall/Spearman: assumes ordinal data
        Returns
        -------
        Tuple, (correlation, p-value)
        """
        P = "pearson"
        S = "spearman"
        K = "kendall"
        if not (measure == P or measure == S or measure == K):
            raise ValueError("Input measure '" + str(measure) + "' is invalid.\n Possible options: (pearson, kendall, spearman)")

        all_anns = self.df.columns
        if (ann1 not in all_anns or ann2 not in all_anns):
            raise ValueError(ANNOTATORS_ERROR + str(list(all_anns)))

        ann1_labels = self.df[ann1].values.tolist()
        ann2_labels = self.df[ann2].values.tolist()

        ann1_, ann2_ = [], []
        for i, label in enumerate(ann1_labels):
            ann2_label = ann2_labels[i]
            if (not math.isnan(label) and not math.isnan(ann2_label)):
                ann1_.append(label)
                ann2_.append(ann2_label)

        if (len(ann1_) == 0 and len(ann2_) == 0):
            raise ValueError("Annotators " + str(ann1) + " and " + str(ann2) + " have not labelled any of the same instances.")

        if measure == "pearson":
            result = pearsonr(ann1_, ann2_)
            return (abs(result[0]), result[1])
        elif measure == "kendall":
            result = kendalltau(ann1_, ann2_)
            return (abs(result[0]), result[1])
        elif measure == "spearman":
            result = spearmanr(ann1_, ann2_)
            return (abs(result[0]), result[1])

    def metric_matrix(self, func):
        all_anns = [ann for ann in self.df.columns]
        matrix = np.zeros((len(all_anns), len(all_anns)))

        for i, ann1 in enumerate(all_anns):
            for j, ann2 in enumerate(all_anns):
                try:
                    val = func(ann1, ann2)
                    matrix[i][j] = float("{:.3f}".format(val))
                except TypeError:
                    print(MATRIX_INPUT_ERROR)
                    sys.exit(1)

        return matrix

    def instance_degree(self, labels):
        # bidisagreement_degree() helper function.
        # Computes the degree for a given instance of data, input as a list of annotations
        all_labels = set(labels)

        if len(all_labels) != 2:
            return 0

        label1 = all_labels[0]
        label2 = all_labels[1]

        if labels.count(label1) > labels.count(label2):
            looper = label1
        else:
            looper = label2

        new_labels = [1 if i == looper else 0 for i in labels]
        count = sum(new_labels)
        degree = (len(labels) - count) / count

        return degree

    def bidisagreement_degree(self):
        """
        Computes the degree of bidisagreements throughout the dataset.
        This is done by considering each bidisagreement, and assigning
        a value to this based on how stong the bidisagreement is.
        Example: For a given instance, if half of the values are different
        then the degree is 1, and if all are the same except for one, then
        the degree will be as close to zero as possible.
        Parameters
        ----------
        None
        Returns
        -------
        Float
        """
        average_degree = 0
        for instance in self.df.itertuples():
            instance = list(instance)
            degree = self.instance_degree(instance)
            average_degree += degree

        return average_degree / self.df.shape[0]


def main_count_(num_instances, labels_per_instance, num_anns, df_as_matrix, i, j):
    main_count = 0
    for k in range(num_instances):
        count = 0
        m = labels_per_instance[k]
        if (m == 0 or m == 1):
            continue
        for perm in itertools.permutations(range(num_anns), 2):
            b1 = int((df_as_matrix[perm[0]][k] == i))
            b2 = int((df_as_matrix[perm[1]][k] == j))
            count += (b1 * b2)
        count /= (m - 1)
        main_count += count
    return main_count

def coincidence_mat(df_as_matrix, labels, num_anns, num_instances, labels_per_instance, use_tqdm):
    # Helper function for metrics.Krippendorff.
    # For technical details on the coincidence matrix, see the
    # Krippendorff's alpha Wikipedia page.
    coincidence_mat = np.zeros((len(labels), len(labels)))

    if use_tqdm:
        loop_object = tqdm(labels)
    else:
        loop_object = labels

    for i, label in enumerate(loop_object):
        for j in range(len(labels)):
            main_count = main_count_(num_instances, labels_per_instance, num_anns, df_as_matrix, i, j)
            coincidence_mat[i][j] = main_count

    return coincidence_mat


class Krippendorff():
    """
    Class for computing Krippendorff's alpha statistic between annotations
    agreements.
    Parameters
    ----------
    df: pandas DataFrame
        rows are data instances, columns are annotator labels
    labels: list
        list of possible labels from 0 up
    Initialised
    -----------
    num_anns: float
        number of annotators in the data
    num_instances: float
        number of instances of labelled data
    A: numpy array
        matrix version of the dataframe transposed
    labels_per_instance: list
        list of len(num_instances)
        Each element is the number of times that instance was labelled
    coincidence_matrix: numpy array
        matrix computed in coincidence_mat()
    coincidence_matrix_sum: 1D numpy array
        sum of rows/columns in coincidence_matrix
    """
    def __init__(self, df, use_tqdm=False):
        converted_data = convert_dataframe(df)
        self.df = converted_data[0]
        self.labels = converted_data[1]
        self.data_dict = converted_data[2]

        #main_input_checks(df, labels)

        #self.df = df
        #self.labels = labels
        self.num_anns = self.df.shape[1]
        self.num_instances = self.df.shape[0]
        self.A = self.df.values
        self.A = self.A.transpose()
        self.use_tqdm = use_tqdm

        self.labels_per_instance = []
        for i, row in self.df.iterrows():
            self.labels_per_instance.append(len(row) - sum(math.isnan(k) for k in row))

        self.coincidence_matrix = coincidence_mat(self.A, self.labels, self.num_anns, self.num_instances, self.labels_per_instance, self.use_tqdm)
        self.coincidence_matrix_sum = np.sum(self.coincidence_matrix, axis=0)

    def delta_nominal(self, v1, v2):
        if v1 == v2:
            return 0
        else:
            return 1

    def delta_ordinal(self, v1, v2):
        v1, v2 = int(v1), int(v2)

        val = 0
        for g in range(v1, v2 + 1):
            element1 = self.coincidence_matrix_sum[g]
            val += element1

        element2 = (self.coincidence_matrix_sum[v1] + self.coincidence_matrix_sum[v2]) / 2.
        val = val - element2

        return val ** 2

    def delta_interval(self, v1, v2):
        v1, v2 = float(v1), float(v2)
        return (v1 - v2) ** 2

    def delta_ratio(self, v1, v2):
        v1, v2 = float(v1), float(v2)
        return ((v1 - v2) / (v1 + v2)) ** 2

    def disagreement(self, obs_or_exp, data_type):
        if obs_or_exp == "expected":
            n = self.coincidence_matrix_sum
            n_total = sum(n)
            coeff = 1 / (n_total - 1)
        else:
            coeff = 1

        result = 0
        for v1 in range(1, len(self.labels)):
            for v2 in range(v1):
                if data_type == "nominal":
                    delta = self.delta_nominal(str(v1), str(v2))
                elif data_type == "ordinal":
                    delta = self.delta_ordinal(str(v1), str(v2))
                elif data_type == "interval":
                    delta = self.delta_interval(str(v1), str(v2))
                elif data_type == "ratio":
                    delta = self.delta_ratio(str(v1), str(v2))

                if obs_or_exp == "observed":
                    result += (self.coincidence_matrix[v1][v2] * delta)
                else:
                    result += (n[v1] * n[v2] * delta)

        return coeff * result

    def alpha(self, data_type="nominal"):
        """
        Attribute used to produce Krippendorff's alpha
        Parameters
        ----------
        data_type: str, ("nominal", "ordinal", "interval", "ratio")
        Returns
        -------
        Krippendorff's alpha: float
        """
        if not (data_type == "nominal" or data_type == "ordinal" or data_type == "interval" or data_type == "ratio"):
            raise ValueError(KRIPP_DATA_TYPE_ERROR)

        observed_disagreement = self.disagreement(obs_or_exp="observed",
                                                  data_type=data_type)
        expected_disagreement = self.disagreement(obs_or_exp="expected",
                                                  data_type=data_type)

        if expected_disagreement == 0:
            return 1.

        return 1 - (observed_disagreement / expected_disagreement)

In [121]:
#we need to turn the dataset into a form that's compatible with the 
data_multi.head()

,sentiment,respect,insult,humiliate,status,dehumanize,violence_phys,genocide,attack_defend,hatespeech,...,demo_sexual_orien_2,demo_sexual_orien_3,demo_sexual_orien_4,demo_sexual_orien_5,demo_sexual_orien_4_text,demo_ideology,locationlatitude,locationlongitude,identity,hypothesis
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,,4.0,37.55029296875,-77.39420318603515625,0.917681,-1.130178
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,NaN,NaN,NaN,NaN,,4.0,32.9568939208984375,-96.83170318603515625,0.918119,-1.146973
2,4.0,4.0,3.0,2.0,1.0,1.0,0.0,0.0,3.0,1.0,...,NaN,NaN,NaN,NaN,,5.0,39.3361053466796875,-76.53890228271484375,0.985910,-0.207369
3,2.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,...,NaN,NaN,NaN,NaN,,4.0,37.1439971923828125,-94.4727020263671875,0.969761,-0.055536
4,4.0,4.0,3.0,2.0,1.0,1.0,1.0,0.0,2.0,1.0,...,NaN,NaN,NaN,NaN,,4.0,34.215301513671875,-79.64679718017578125,0.935462,0.104225

In [22]:
#need to turn the annotator ID numbers into strings 

data_multi['labeler_id'].value_counts()

3887     26
4997     26
69       26
6321     26
10262    26
         ..
7388      6
11135     6
6695      6
8562      6
1090      6
Name: labeler_id, Length: 7912, dtype: int64

In [20]:
#this is how many unique labeler ids we have in the dataset
data_multi['labeler_id'].nunique()

7912

In [25]:
unique_labeler_ids = data_multi['labeler_id'].unique()

In [28]:
unique_labeler_ids = unique_labeler_ids.tolist()

In [32]:
labeler_id_str = []
for i in unique_labeler_ids:
    labeler_string = str(i)
    labeler_id_str.append(labeler_string)

In [43]:
labeler_id_str[0:10]

['10873',
 '2790',
 '3379',
 '7365',
 '488',
 '527',
 '3275',
 '6801',
 '10363',
 '10615']

In [ ]:
#now need to turn the list into columns in a new dataframe

#steps:
#create empty dataframe
#add the column names from the items in the list

In [41]:
#empty dataframe and assigning column names 
df_labeler_id = pd.DataFrame(columns = labeler_id_str)

In [42]:
#this is our working dataframe
df_labeler_id

Empty DataFrame
Columns: [10873, 2790, 3379, 7365, 488, 527, 3275, 6801, 10363, 10615, 9750, 7331, 7259, 1329, 2171, 10173, 9912, 9312, 4546, 5487, 3863, 2576, 8749, 3948, 3559, 5717, 2017, 6701, 2689, 123, 44, 3540, 3610, 8856, 8325, 5754, 8072, 5860, 227, 9488, 8201, 2218, 8115, 9715, 2593, 4616, 9886, 5521, 7477, 6998, 8824, 6314, 8609, 1532, 1782, 10060, 3123, 4901, 2996, 2980, 2893, 2914, 4339, 10352, 3590, 4146, 3624, 2637, 2577, 2251, 5266, 9140, 4800, 4632, 3691, 10716, 7453, 4603, 6765, 1168, 10871, 1095, 10256, 10381, 3963, 5414, 9567, 4976, 1038, 415, 9054, 8017, 634, 3521, 1768, 10377, 3538, 7049, 5640, 9937, ...]
Index: []

[0 rows x 7912 columns]

In [ ]:
#now we need to populate our dataframe

#steps:
#for each labeler id, get the label they gave each comment in a particular column (sentiment, hate speech etc)

In [44]:
#how many unique comments we have will be how many rows the dataframe will have 

#number of unique comments so this should be the number of rows
data_multi['comment_id'].nunique()

39565

In [45]:
#get the actually unique comments in the data

unique_comment_ids = data_multi['comment_id'].unique().tolist()

In [46]:
unique_comment_ids[:10]

[47777, 39773, 47101, 43625, 12538, 11001, 13168, 17034, 40171, 1006]

In [47]:
#turning the list into the index in the df
df_labeler_id = pd.DataFrame(index = unique_comment_ids, columns = labeler_id_str)

In [50]:
#looking at our df
df_labeler_id.head()

,10873,2790,3379,7365,488,527,3275,6801,10363,10615,...,3954,3186,6465,5932,5153,7388,11082,1090,8678,2616
47777,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43625,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12538,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
#getting rows columns in df
df_labeler_id.shape

(39565, 7912)

In [55]:
#for each labeler id, getting the value they gave for each comment in sentiment
#the assumption i'm making here is that each labeler only labeled a unique comment at most once (even if they didn't label all comments)

data_multi[data_multi['labeler_id'] == 10873][['comment_id', 'sentiment']]

        comment_id  sentiment
0            47777        0.0
9197         19104        3.0
13852        30025        3.0
36939        24079        2.0
60022        30298        3.0
73892        22834        3.0
92317        20045        4.0
107441       20024        3.0
115037       20027        4.0
128460       20065        1.0

In [91]:

data_multi[data_multi['labeler_id'] == 10873]['sentiment'].values

array([0., 3., 3., 2., 3., 3., 4., 3., 4., 1.])

In [ ]:
{ 10873: {47777: 0, 19104: 3}, 2790: {} }

In [97]:
a = [3,5,2]
b = [6,7,1]
dict(zip(a, b))#[x for x in zip(a, b)]

{3: 6, 5: 7, 2: 1}

In [98]:
#let's use a for loop here to get the structure above replicated

#assumption: order is maintained for the comment_id, sentiment and the labeler_id (i)

#initializing empty list
comment_id_list = []
sentiment_list = []

master_dict = {}

for i in unique_labeler_ids: 
    comments = data_multi[data_multi['labeler_id'] == i]['comment_id'].values
    sents = data_multi[data_multi['labeler_id'] == i]['sentiment'].values
    inner_dict = dict(zip(comments, sents))
    master_dict[i] = inner_dict
    # comment_id_list.append(comments)
    # sentiment_list.append(sents)

In [100]:
len(master_dict)

7912

In [106]:
master_dict[2790]

{39773: 0.0,
 12509: 2.0,
 10392: 2.0,
 38081: 3.0,
 2633: 4.0,
 15895: 3.0,
 20068: 4.0,
 20007: 4.0,
 20022: 4.0,
 20033: 4.0,
 20051: 3.0,
 20060: 0.0}

In [102]:
df = pd.DataFrame.from_dict(master_dict)

In [103]:
df.head()

,10873,2790,3379,7365,488,527,3275,6801,10363,10615,...,3954,3186,6465,5932,5153,7388,11082,1090,8678,2616
47777,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19104,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30025,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24079,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30298,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [110]:
df_column_list = df.columns.values.tolist()

In [112]:
labeler_id_str = []
for i in df_column_list:
    labeler_string = str(i)
    labeler_id_str.append(labeler_string)

In [114]:
df.columns = labeler_id_str

In [115]:
#confirming columns are strings
df.columns

Index(['10873', '2790', '3379', '7365', '488', '527', '3275', '6801', '10363',
       '10615',
       ...
       '3954', '3186', '6465', '5932', '5153', '7388', '11082', '1090', '8678',
       '2616'],
      dtype='object', length=7912)

In [125]:
df['10873'].value_counts()

3.0    5
4.0    2
0.0    1
2.0    1
1.0    1
Name: 10873, dtype: int64

In [123]:
#this is the range of options for sentiment
labels = [0, 1, 2, 3, 4]

In [133]:
mets = Metrics(df, labels)

NameError: name 'flexible_data' is not defined

In [ ]:
# sentiment_list[:10]

In [78]:
#turning lists into dictionary

#step 1: turn keys into tuples bc it's an immutable datatype and keys must be immutable and lists are mutable


# comment_id_tuple = tuple(comment_id_list)
# sentiment_tuple = tuple(sentiment_list)

#empty dict initalization

dict_comment_sentiment = {}
for key in comment_id_list:
    for value in sentiment_list:
        dict_comment_sentiment[key] = value
        sentiment_list.remove(value)
        break
print(dict_comment_sentiment)

TypeError: unhashable type: 'list'

In [76]:
comment_id_tuple = convert(comment_id_list)

In [77]:
dict(zip(comment_id_tuple, sentiment_list))

TypeError: unhashable type: 'list'

In [59]:
#groupby is not needed if the assumption that each labelelr only labels a unique comment at most once
#data_multi[data_multi['labeler_id'] == 10873].groupby('comment_id').sum()[['sentiment']]

In [417]:
pip install krippendorff

Collecting krippendorff
  Downloading krippendorff-0.4.0-py3-none-any.whl (17 kB)
Requirement already satisfied: numpy in /home/rbarreto/miniconda3/envs/hatespeech/lib/python3.9/site-packages (from krippendorff) (1.20.2)
Installing collected packages: krippendorff
Successfully installed krippendorff-0.4.0
Note: you may need to restart the kernel to use updated packages.

In [10]:
import krippendorff

In [420]:
res = krippendorff.alpha(sentiment_array)
res

0.0023427621439294777

In [12]:
#krippendorf with the regular df 

krippendorff.alpha(df_black_labeler_target[['sentiment', 'respect']])

0.0029707638944290737

In [20]:
df_black_labeler_target['comment_id'].value_counts()

20002    652
20001    636
20003    623
20012    619
20045    562
        ...
12577      1
18734      1
41267      1
41283      1
28822      1
Name: comment_id, Length: 5627, dtype: int64

In [29]:
krippendorff.alpha(df_black_labeler_target[df_black_labeler_target['comment_id'] == 20002].iloc[:5, ][['sentiment', 'respect']])

/home/rbarreto/miniconda3/envs/hatespeech/lib/python3.9/site-packages/krippendorff/krippendorff.py:273: RuntimeWarning: invalid value encountered in double_scalars
  return 1 - (o * d).sum() / (e * d).sum()

nan

In [49]:
#this depends on the number of items 
#do all 10 items and expand by comment 
krippendorff.alpha(df_black_labeler_target[df_black_labeler_target['comment_id'] == 20001].iloc[:15, :10])

0.9211830590724578

In [47]:
krippendorff.alpha(df_black_labeler_target[df_black_labeler_target['comment_id'] == 20001].iloc[:15, ][['sentiment', 'respect']], level_of_measurement='nominal')

0.03826530612244894

In [19]:


krippendorff.alpha(df_black_labeler_target[df_black_labeler_target['comment_id'] == 20002]['sentiment'])

0.0

In [14]:
df_black_labeler_target[['comment_id', 'labeler_id']]
#first dimension is labeler
#each column is what they rated on a specific comment 
#column needs to be sentiment on comment X 
#if person didn't rate comment then keep as missing (np.nan)

#labeler id as index
#comment is column not the 
#lots of columns bc it will be for [comment1 that sentimet] as a column
#see reliability rating here: https://github.com/pln-fing-udelar/fast-krippendorff/blob/main/krippendorff/krippendorff.py

        comment_id  labeler_id
0            47777       10873
5            11001         527
20           46526        3863
21           30683        2576
22           15758        8749
...            ...         ...
135280       20066        7843
135346       20066         346
135415       20066         243
135467       20062        8649
135473       20062       10234

[18545 rows x 2 columns]

In [416]:
#https://stackoverflow.com/questions/56481245/inter-rater-reliability-calculation-for-multi-raters-data
#Note that Fleiss is not perfectly applicable to a rating situation with a relative metric: it assumes that this is a classification task, not a ranking. Fleiss is not sensitive to how far apart the ratings are; it knows only that the ratings differed: a (0,1) paring is just as damaging as a (0,3) pairing.

In [366]:

def fleiss_kappa(M):
    """Computes Fleiss' kappa for group of annotators.
    :param M: a matrix of shape (:attr:'N', :attr:'k') with 'N' = number of subjects and 'k' = the number of categories.
        'M[i, j]' represent the number of raters who assigned the 'i'th subject to the 'j'th category.
    :type: numpy matrix
    :rtype: float
    :return: Fleiss' kappa score
    """
    N, k = M.shape  # N is # of items, k is # of categories
    n_annotators = float(np.sum(M[0, :]))  # # of annotators
    tot_annotations = N * n_annotators  # the total # of annotations
    category_sum = np.sum(M, axis=0)  # the sum of each category over all items

    # chance agreement
    p = category_sum / tot_annotations  # the distribution of each category over all annotations
    PbarE = np.sum(p * p)  # average chance agreement over all categories

    # observed agreement
    P = (np.sum(M * M, axis=1) - n_annotators) / (n_annotators * (n_annotators - 1))
    Pbar = np.sum(P) / N  # add all observed agreement chances per item and divide by amount of items

    return round((Pbar - PbarE) / (1 - PbarE), 4)

In [367]:
fleiss_kappa(sentiment_array)

55.0741

# Filtering data for posts targeting black people by white and black labelers

In [498]:
#labeler 1, black labelers, black content on dehumanize specifically

df_white_labeler_black_target = data_multi[(data_multi['demo_race_ethnicitie_3'] == 1) & (data_multi['target_race_1'] == 1)]



#labeler 2, white labelers, black content on dehumanize specifically
df_black_labeler_target = data_multi[(data_multi['demo_race_ethnicitie_6'] == 1) & (data_multi['target_race_1'] == 1)]

In [427]:
df_black_labeler_target.head(5)

,sentiment,respect,insult,humiliate,status,dehumanize,violence_phys,genocide,attack_defend,hatespeech,...,demo_sexual_orien_2,demo_sexual_orien_3,demo_sexual_orien_4,demo_sexual_orien_5,demo_sexual_orien_4_text,demo_ideology,locationlatitude,locationlongitude,identity,hypothesis
comment_id,,,,,,,,,,,,,,,,,,,,,
47777,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,,4.0,37.55029296875,-77.39420318603515625,0.917681,-1.130178
11001,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,NaN,NaN,NaN,NaN,,1.0,30.4170074462890625,-84.18499755859375,0.907838,-1.186106
46526,3.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,NaN,NaN,NaN,NaN,,1.0,41.685302734375,-72.92960357666015625,0.832598,-0.565168
30683,3.0,2.0,2.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,...,NaN,NaN,NaN,NaN,,2.0,39.787506103515625,-75.1797027587890625,0.982328,-0.288919
15758,2.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,NaN,NaN,NaN,,1.0,41.854705810546875,-71.47350311279296875,0.984188,-0.262152

In [499]:
#turning comment_id into index

df_black_labeler_target.set_index('comment_id', inplace=True)

In [504]:
df_black_labeler_target

,sentiment,respect,insult,humiliate,status,dehumanize,violence_phys,genocide,attack_defend,hatespeech,...,demo_sexual_orien_2,demo_sexual_orien_3,demo_sexual_orien_4,demo_sexual_orien_5,demo_sexual_orien_4_text,demo_ideology,locationlatitude,locationlongitude,identity,hypothesis
comment_id,,,,,,,,,,,,,,,,,,,,,
47777,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,,4.0,37.55029296875,-77.39420318603515625,0.917681,-1.130178
11001,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,NaN,NaN,NaN,NaN,,1.0,30.4170074462890625,-84.18499755859375,0.907838,-1.186106
46526,3.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,NaN,NaN,NaN,NaN,,1.0,41.685302734375,-72.92960357666015625,0.832598,-0.565168
30683,3.0,2.0,2.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,...,NaN,NaN,NaN,NaN,,2.0,39.787506103515625,-75.1797027587890625,0.982328,-0.288919
15758,2.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,NaN,NaN,NaN,,1.0,41.854705810546875,-71.47350311279296875,0.984188,-0.262152
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20066,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,,3.0,41.494598388671875,-90.56749725341796875,0.802158,0.344536
20066,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,NaN,NaN,NaN,NaN,,3.0,34.0614013671875,-118.3072052001953125,0.802158,0.344536
20066,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,NaN,NaN,NaN,NaN,,6.0,35.00390625,-82.4272003173828125,0.802158,0.344536
20062,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,NaN,NaN,NaN,NaN,,2.0,38.7913055419921875,-77.28060150146484375,0.532801,0.332823
20062,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,,3.0,42.27679443359375,-83.37580108642578125,0.532801,0.332823

In [507]:
df_black_labeler_target['comment_id'] = df_black_labeler_target.index

<ipython-input-507-327e70931f02>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_black_labeler_target['comment_id'] = df_black_labeler_target.index

In [510]:
df_black_labeler_target[df_black_labeler_target['comment_id'] == 20066][['sentiment']]

            sentiment
comment_id
20066             0.0
20066             0.0
20066             0.0
20066             0.0
20066             2.0
20066             0.0
20066             0.0
20066             2.0
20066             1.0
20066             0.0
20066             0.0
20066             0.0
20066             0.0
20066             0.0
20066             2.0
20066             0.0
20066             1.0
20066             0.0
20066             0.0
20066             0.0
20066             1.0
20066             0.0
20066             0.0
20066             1.0
20066             1.0
20066             1.0
20066             1.0
20066             1.0
20066             1.0
20066             1.0
20066             1.0
20066             0.0
20066             2.0
20066             2.0
20066             0.0

In [511]:
#going to turn the df into dummies, but only for sentiment

df_sentiment_black_labeler_target = pd.get_dummies(df_black_labeler_target['sentiment']).rename(columns={0:'sentiment_0', 1:'sentiment_1', 2:'sentiment_2', 3:'sentiment_3', 4:'sentiment_4'})
df_sentiment_black_labeler_target

            sentiment_0  sentiment_1  sentiment_2  sentiment_3  sentiment_4
comment_id
47777                 1            0            0            0            0
11001                 0            1            0            0            0
46526                 0            0            0            1            0
30683                 0            0            0            1            0
15758                 0            0            1            0            0
...                 ...          ...          ...          ...          ...
20066                 0            0            1            0            0
20066                 0            0            1            0            0
20066                 1            0            0            0            0
20062                 1            0            0            0            0
20062                 1            0            0            0            0

[18545 rows x 5 columns]

In [512]:
#turn index into column 
df_sentiment_black_labeler_target['comment_id'] = df_sentiment_black_labeler_target.index

In [515]:
df_sentiment_black_labeler_target[df_sentiment_black_labeler_target['comment_id'] == 20066]['sentiment_0'].sum()

19

ValueError: Array conditional must be same shape as self

In [466]:
#df_sentiment_black_labeler_target.index.rename('comment_id',inplace=True)

In [493]:
#is this just negative bc of the ~? 
#~df_sentiment_black_labeler_target.index.duplicated(keep =False).sum()

In [ ]:
#DOES GET dummeis actually work here? bc what i'm saying is grab every
#category in sentime, turn that into a column
#then it's 0 or 1 if that condition is met
#so if i have

In [517]:
df_sentiment_black_labeler_target.columns

Index(['sentiment_0', 'sentiment_1', 'sentiment_2', 'sentiment_3',
       'sentiment_4', 'comment_id'],
      dtype='object')

In [ ]:

df_sentiment_black_labeler_target = df_sentiment_black_labeler_target.groupby(by = df_sentiment_black_labeler_target['comment_id']).sum()

In [525]:
#this is how many times the comment_id shows up (ie row counts)
#df_sentiment_black_labeler_target.groupby(df_sentiment_black_labeler_target.index).sum()


20066 in df_sentiment_black_labeler_target.index
#20066
#20063

True

In [531]:
len(df_sentiment_black_labeler_target)

5627

In [530]:
for i in df_sentiment_black_labeler_target.index:
    if i == 20066:
        print(len(df_sentiment_black_labeler_target))

5627

In [534]:
#selecting by index LABEL 
df_sentiment_black_labeler_target.loc[20066, :]

sentiment_0    19.0
sentiment_1    11.0
sentiment_2     5.0
sentiment_3     0.0
sentiment_4     0.0
Name: 20066, dtype: float64

In [535]:
#df_sentiment_black_labeler_target[df_sentiment_black_labeler_target['comment_id'] == 20066]

In [536]:
# df_white_labeler_black_target['comment_id']

In [538]:
df_sentiment_black_labeler_target.head(5)

            sentiment_0  sentiment_1  sentiment_2  sentiment_3  sentiment_4
comment_id
3                   0.0          0.0          2.0          1.0          0.0
5                   0.0          0.0          3.0          0.0          0.0
12                  0.0          0.0          0.0          0.0          1.0
23                  0.0          0.0          0.0          0.0          1.0
35                  0.0          0.0          0.0          0.0          1.0

In [458]:
#turning comment_id into index

df_white_labeler_black_target.set_index('comment_id', inplace=True)

In [459]:
#going to turn the df into dummies, but only for sentiment

df_sentiment_white_labeler_black_target_dummies = pd.get_dummies(df_white_labeler_black_target['sentiment']).rename(columns={0:'sentiment_0', 1:'sentiment_1', 2:'sentiment_2', 3:'sentiment_3', 4:'sentiment_4'})

In [460]:
df_sentiment_white_labeler_black_target_dummies

            sentiment_0  sentiment_1  sentiment_2  sentiment_3  sentiment_4
comment_id
28228                 0            0            1            0            0
24678                 0            0            1            0            0
17084                 0            1            0            0            0
12920                 0            0            0            0            1
34343                 0            0            0            0            1
...                 ...          ...          ...          ...          ...
20066                 1            0            0            0            0
20066                 0            1            0            0            0
20062                 1            0            0            0            0
20066                 1            0            0            0            0
20062                 1            0            0            0            0

[2292 rows x 5 columns]

In [ ]:
df_sentiment_white_labeler_black_target = df_sentiment_white_labeler_black_target.groupby(df_sentiment_white_labeler_black_target.index).sum()

In [454]:
len(df_sentiment_white_labeler_black_target)

2292

In [436]:
df_sentiment_white_labeler_black_target
#something's going on with the data pre-processing here

        sentiment_0  sentiment_1  sentiment_2  sentiment_3  sentiment_4
210               0            0            1            0            0
260               0            0            1            0            0
799               0            1            0            0            0
846               0            0            0            0            1
1084              0            0            0            0            1
...             ...          ...          ...          ...          ...
134342            1            0            0            0            0
134407            0            1            0            0            0
134481            1            0            0            0            0
135226            1            0            0            0            0
135381            1            0            0            0            0

[2292 rows x 5 columns]

723

In [453]:

df_sentiment_white_labeler_black_target_dummies = pd.get_dummies(df_white_labeler_black_target['sentiment']).rename(columns={0:'sentiment_0', 1:'sentiment_1', 2:'sentiment_2', 3:'sentiment_3', 4:'sentiment_4'})
len(df_sentiment_white_labeler_black_target_dummies)

2292

In [541]:
df_sentiment_wl_bt_array = df_sentiment_white_labeler_black_target.to_numpy()

In [539]:
df_sentiment_bl_bt_array = df_sentiment_black_labeler_target.to_numpy()

In [542]:
krippendorff.alpha(df_sentiment_wl_bt_array)

0.24875370714045908

In [440]:
df_sentiment_wl_bt_array

array([[0, 0, 1, 0, 0],
       [0, 0, 1, 0, 0],
       [0, 1, 0, 0, 0],
       ...,
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0]], dtype=uint8)

In [2]:
#fleiss_kappa(df_sentiment_wl_bt_array)

In [540]:
krippendorff.alpha(df_sentiment_bl_bt_array)
#for krippendorff alpha, don't need one hot encoding
#input is number of raters by the unit count

0.0035967523906932364

In [478]:
# fleiss_kappa(df_sentiment_bl_bt_array)

In [444]:
df_sentiment_bl_bt_array.shape
n_annotators = float(np.sum(df_sentiment_bl_bt_array[0, :]))
n_annotators

3.0

In [ ]:
#i think it's getting the number of annotators wrong on both accounts

In [445]:
df_sentiment_wl_bt_array.shape
n_annotators = float(np.sum(df_sentiment_wl_bt_array[0, :]))
n_annotators

1.0

In [ ]:
#if it's calculating the number of annotators, and not every annotator is required to rate every tiem, is it doing it correctly here?

In [ ]:
#Tests of Significance
#Statistical packages can calculate a standard score (Z-score) for Cohen's kappa or Fleiss's Kappa, 
#which can be converted into a P-value. 
#However, even when the P value reaches the threshold of statistical significance 
#(typically less than 0.05), it only indicates that the agreement between raters 
#is significantly better than would be expected by chance. 
#The p value does not tell you, by itself, whether the agreement is good enough 
#to have high predictive value.

In [ ]:
pip install saspy

In [ ]:
#reading sas code in python
#https://communities.sas.com/t5/Developers/Getting-SAS-script-to-run-run-from-Python-using-SASPy/td-p/600076

## Extra

In [356]:
#df_fleiss_sentiment.index = comment_id_sentiment

In [348]:
#add comment id title to index

In [322]:
# for item in labelers_per_comment: 
#     df_fleiss_sentiment = df_fleiss_sentiment.append(pd.Series(item, df_fleiss_sentiment.columns), ignore_index=True)

In [304]:
df_fleiss_sentiment

  sentiment_0 sentiment_1 sentiment_2 sentiment_3 sentiment_4
0           0           0           0           0           3

In [233]:
column_sentiment = ['sentiment_0', 'sentiment_1', 'sentiment_2', 'sentiment_3', 'sentiment_4']
df_sentiment = df[df['column_score'].isin(column_sentiment)]
df_sentiment

        comment_id column_score  num_labelers
0            47777  sentiment_0             1
1            47777  sentiment_1             4
2            47777  sentiment_2             0
3            47777  sentiment_3             0
4            47777  sentiment_4             0
...            ...          ...           ...
197820       37080  sentiment_0             0
197821       37080  sentiment_1             1
197822       37080  sentiment_2             0
197823       37080  sentiment_3             0
197824       37080  sentiment_4             0

[197825 rows x 3 columns]

In [203]:
# for idx in range(len(unique_comment_ids)):
#     df[df['comment_id'] == idx]

In [176]:
d = sorted(ultra_res, key=operator.itemgetter('comment_id'))

outputList = []

for i, g in itertools.groupby(d, key=operator.itemgetter('comment_id')):
    outputList.append(list(g))

In [196]:
outputList[0]

[{'comment_id': 1, 'column_score': 'sentiment_0', 'num_labelers': 0},
 {'comment_id': 1, 'column_score': 'sentiment_1', 'num_labelers': 0},
 {'comment_id': 1, 'column_score': 'sentiment_2', 'num_labelers': 0},
 {'comment_id': 1, 'column_score': 'sentiment_3', 'num_labelers': 1},
 {'comment_id': 1, 'column_score': 'sentiment_4', 'num_labelers': 3},
 {'comment_id': 1, 'column_score': 'respect_0', 'num_labelers': 0},
 {'comment_id': 1, 'column_score': 'respect_1', 'num_labelers': 0},
 {'comment_id': 1, 'column_score': 'respect_2', 'num_labelers': 0},
 {'comment_id': 1, 'column_score': 'respect_3', 'num_labelers': 2},
 {'comment_id': 1, 'column_score': 'respect_4', 'num_labelers': 2},
 {'comment_id': 1, 'column_score': 'insult_0', 'num_labelers': 0},
 {'comment_id': 1, 'column_score': 'insult_1', 'num_labelers': 0},
 {'comment_id': 1, 'column_score': 'insult_2', 'num_labelers': 3},
 {'comment_id': 1, 'column_score': 'insult_3', 'num_labelers': 1},
 {'comment_id': 1, 'column_score': 'humiliate_0', 'num_labelers': 1},
 {'comment_id': 1, 'column_score': 'humiliate_1', 'num_labelers': 3},
 {'comment_id': 1, 'column_score': 'humiliate_2', 'num_labelers': 0},
 {'comment_id': 1, 'column_score': 'status_0', 'num_labelers': 0},
 {'comment_id': 1, 'column_score': 'status_1', 'num_labelers': 4},
 {'comment_id': 1, 'column_score': 'dehumanize_0', 'num_labelers': 1},
 {'comment_id': 1, 'column_score': 'dehumanize_1', 'num_labelers': 3},
 {'comment_id': 1, 'column_score': 'violence_phys_0', 'num_labelers': 4},
 {'comment_id': 1, 'column_score': 'violence_phys_1', 'num_labelers': 0},
 {'comment_id': 1, 'column_score': 'genocide_0', 'num_labelers': 4},
 {'comment_id': 1, 'column_score': 'genocide_1', 'num_labelers': 0},
 {'comment_id': 1, 'column_score': 'attack_defend_0', 'num_labelers': 0},
 {'comment_id': 1, 'column_score': 'attack_defend_1', 'num_labelers': 0},
 {'comment_id': 1, 'column_score': 'attack_defend_2', 'num_labelers': 3},
 {'comment_id': 1, 'column_score': 'attack_defend_3', 'num_labelers': 1},
 {'comment_id': 1, 'column_score': 'hatespeech_0', 'num_labelers': 4},
 {'comment_id': 1, 'column_score': 'hatespeech_1', 'num_labelers': 0}]

In [185]:


for idx in range(len(unique_comment_ids)):
    outputList[idx]

In [192]:

keyfunc = lambda d: next(iter(d.values()))
sorted(ultra_res, key=keyfunc)
#{k: [x for d in g for x in d] for k, g in itertools.groupby(sorted(outputList[idx], key=keyfunc), key=keyfunc)}
ultra_res[0]

{'comment_id': 47777, 'column_score': 'sentiment_0', 'num_labelers': 1}

In [180]:

outputList[0]

[{'comment_id': 1, 'column_score': 'sentiment_0', 'num_labelers': 0},
 {'comment_id': 1, 'column_score': 'sentiment_1', 'num_labelers': 0},
 {'comment_id': 1, 'column_score': 'sentiment_2', 'num_labelers': 0},
 {'comment_id': 1, 'column_score': 'sentiment_3', 'num_labelers': 1},
 {'comment_id': 1, 'column_score': 'sentiment_4', 'num_labelers': 3},
 {'comment_id': 1, 'column_score': 'respect_0', 'num_labelers': 0},
 {'comment_id': 1, 'column_score': 'respect_1', 'num_labelers': 0},
 {'comment_id': 1, 'column_score': 'respect_2', 'num_labelers': 0},
 {'comment_id': 1, 'column_score': 'respect_3', 'num_labelers': 2},
 {'comment_id': 1, 'column_score': 'respect_4', 'num_labelers': 2},
 {'comment_id': 1, 'column_score': 'insult_0', 'num_labelers': 0},
 {'comment_id': 1, 'column_score': 'insult_1', 'num_labelers': 0},
 {'comment_id': 1, 'column_score': 'insult_2', 'num_labelers': 3},
 {'comment_id': 1, 'column_score': 'insult_3', 'num_labelers': 1},
 {'comment_id': 1, 'column_score': 'humiliate_0', 'num_labelers': 1},
 {'comment_id': 1, 'column_score': 'humiliate_1', 'num_labelers': 3},
 {'comment_id': 1, 'column_score': 'humiliate_2', 'num_labelers': 0},
 {'comment_id': 1, 'column_score': 'status_0', 'num_labelers': 0},
 {'comment_id': 1, 'column_score': 'status_1', 'num_labelers': 4},
 {'comment_id': 1, 'column_score': 'dehumanize_0', 'num_labelers': 1},
 {'comment_id': 1, 'column_score': 'dehumanize_1', 'num_labelers': 3},
 {'comment_id': 1, 'column_score': 'violence_phys_0', 'num_labelers': 4},
 {'comment_id': 1, 'column_score': 'violence_phys_1', 'num_labelers': 0},
 {'comment_id': 1, 'column_score': 'genocide_0', 'num_labelers': 4},
 {'comment_id': 1, 'column_score': 'genocide_1', 'num_labelers': 0},
 {'comment_id': 1, 'column_score': 'attack_defend_0', 'num_labelers': 0},
 {'comment_id': 1, 'column_score': 'attack_defend_1', 'num_labelers': 0},
 {'comment_id': 1, 'column_score': 'attack_defend_2', 'num_labelers': 3},
 {'comment_id': 1, 'column_score': 'attack_defend_3', 'num_labelers': 1},
 {'comment_id': 1, 'column_score': 'hatespeech_0', 'num_labelers': 4},
 {'comment_id': 1, 'column_score': 'hatespeech_1', 'num_labelers': 0}]

In [ ]:
# import collections 

# for item in range(len(res)):
#     for value in res[item]:
#         if value == 47777:
# #             print('yay')

array([ 1,  2,  3,  4,  5,  6,  7,  8, 10, 11], dtype=int32)

In [126]:
res[0]

{47777: {'sentiment_0': 1}}

In [139]:
import operator 
import itertools

from itertools import groupby
from operator import itemgetter

In [148]:
#turn comment ids into strings
unique_ids_str = []
for item in unique_comment_ids:
    unique_ids_str.append(str(item))
unique_ids_str[0:10]

['47777',
 '39773',
 '47101',
 '43625',
 '12538',
 '11001',
 '13168',
 '17034',
 '40171',
 '1006']

In [168]:
res[0]

KeyError: 0

In [167]:
#turn keys in res dictionary into strings

    
        
new_res = {str(key): value for idx in range(len(res)) for key, value in res[idx].items()}

In [170]:
len(new_res)

39565

In [158]:
len(unique_comment_ids)

39565

In [164]:
new_res = sorted(new_res, key=operator.itemgetter('47777'))
outputList = []
for key, value in groupby(new_res, key = itemgetter('47777')):
    outputList.append(list(g))

TypeError: string indices must be integers

In [140]:
outputList = []

for i, g in itertools.groupby(res, key=operator.itemgetter(47777)):
    outputList.append(list(g))

KeyError: 47777

In [100]:
len(res)

1226515

In [ ]:
dict()

In [ ]:

# for comment_id, column_score, number_labelers in zip(comment_id_list, column_score_list, number_labelers_list):
#     print(column_score, number_labelers)

In [506]:
output2 = {}
for comment_id, column_score, number_labelers in zip(comment_id_list, column_score_list, number_labelers_list):
    output2[comment_id] = {column_score: number_labelers}

In [83]:
df_try = pd.DataFrame.from_dict(output).head(5)
df_try[47777]

column_score       hatespeech_1
number_labelers               0
Name: 47777, dtype: object

In [516]:
column_score_series = pd.Series(column_score_list)

In [520]:
column_score_df = column_score_series.to_frame(name='column_score')
column_score_df

         column_score
0         sentiment_0
1         sentiment_1
2         sentiment_2
3         sentiment_3
4         sentiment_4
...               ...
1226510  hatespeech_1
1226511  hatespeech_0
1226512  hatespeech_1
1226513  hatespeech_0
1226514  hatespeech_1

[1226515 rows x 1 columns]

In [521]:
column_score_df['column_score'].value_counts()

hatespeech_0       39565
attack_defend_3    39565
attack_defend_0    39565
status_0           39565
hatespeech_1       39565
attack_defend_2    39565
insult_3           39565
sentiment_0        39565
sentiment_2        39565
genocide_1         39565
respect_2          39565
violence_phys_0    39565
humiliate_2        39565
insult_1           39565
sentiment_3        39565
dehumanize_1       39565
attack_defend_1    39565
insult_2           39565
humiliate_1        39565
humiliate_0        39565
respect_4          39565
genocide_0         39565
insult_0           39565
respect_1          39565
violence_phys_1    39565
status_1           39565
respect_3          39565
sentiment_1        39565
dehumanize_0       39565
sentiment_4        39565
respect_0          39565
Name: column_score, dtype: int64

In [510]:
pd.DataFrame.from_dict(output2, orient = 'index')

       hatespeech_1
1                 0
2                 2
3                 2
4                 1
5                 0
...             ...
50066             3
50067             1
50068             0
50069             0
50070             2

[39565 rows x 1 columns]

In [412]:
temp = 'column_score'
res = [val[temp] for key, val in output.items() if temp in val]
res[0:10]

['hatespeech_1',
 'hatespeech_1',
 'hatespeech_1',
 'hatespeech_1',
 'hatespeech_1',
 'hatespeech_1',
 'hatespeech_1',
 'hatespeech_1',
 'hatespeech_1',
 'hatespeech_1']

In [413]:
#how to get partial view of dictionary
dict(list(output.items())[0:2])

{47777: {'column_score': 'hatespeech_1', 'number_labelers': 0},
 39773: {'column_score': 'hatespeech_1', 'number_labelers': 0}}

In [ ]:
for outerKey, innerDict in output.items():
    for innerDictKey in innerDict.keys():

In [479]:
#checking to make sure things correspond

comment_id_list[:10]

[47777, 47777, 47777, 47777, 47777, 39773, 39773, 39773, 39773, 39773]

In [474]:
#checking to make sure things correspond
number_labelers_list[0:10]

[1, 4, 0, 0, 0, 3, 0, 0, 0, 0]

In [475]:
#checking to make sure things correspond
column_score_list[0:10]

['sentiment_0',
 'sentiment_1',
 'sentiment_2',
 'sentiment_3',
 'sentiment_4',
 'sentiment_0',
 'sentiment_1',
 'sentiment_2',
 'sentiment_3',
 'sentiment_4']

In [483]:
#checking to make sure things correspond
data_multi[data_multi['comment_id'] == 47777]

,sentiment,respect,insult,humiliate,status,dehumanize,violence_phys,genocide,attack_defend,hatespeech,...,demo_sexual_orien_2,demo_sexual_orien_3,demo_sexual_orien_4,demo_sexual_orien_5,demo_sexual_orien_4_text,demo_ideology,locationlatitude,locationlongitude,identity,hypothesis
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,,4.0,37.55029296875,-77.39420318603515625,0.917681,-1.130178
2440,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,,1.0,39.8661041259765625,-104.91970062255859375,0.917681,-1.130178
26345,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,,1.0,26.1168060302734375,-80.429901123046875,0.917681,-1.130178
48488,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,NaN,1.0,NaN,NaN,,2.0,31.5402069091796875,-110.266998291015625,0.917681,-1.130178
70144,1.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,NaN,NaN,NaN,NaN,,5.0,35.6576995849609375,-78.383697509765625,0.917681,-1.130178

In [470]:
empty_dict = {}
build_df = pd.DataFrame(empty_dict, index = comment_id_list, columns = sorted(list_columns))

In [471]:
build_df.head(5)

,attack_defend_0,attack_defend_1,attack_defend_2,attack_defend_3,dehumanize_0,dehumanize_1,genocide_0,genocide_1,hatespeech_0,hatespeech_1,...,respect_4,sentiment_0,sentiment_1,sentiment_2,sentiment_3,sentiment_4,status_0,status_1,violence_phys_0,violence_phys_1
47777,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47777,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47777,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47777,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47777,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [472]:
# reformed_dict = {}
# for outerKey, innerDict in output.items():
#     for innerKey, values in innerDict.items():
#         reformed_dict[(outerKey, innerKey)] = values
# reformed_dict

In [ ]:
#actual
{47777: {'column_score': 'hatespeech1', 'number_labelers': 0}}

#desired
{47777: {'hatespeech_1': 0 }

In [496]:
# for i in output.items():
#     print(i)

In [501]:
# for x,y in output.items():
#     print(y)

In [503]:
#mydict = {values:innerKeys for outerKeys, innerDict in output.items() for innerKeys, values in innerDict.items() if innerKeys == 'column_score'}

In [504]:
#mydict

{'hatespeech_1': 'column_score'}

In [505]:
for outerKeys, innerDict in output.items():
    for innerKeys, values in innerDict.items():
        if innerKeys == 'column_score':
            values:innerKeys

In [497]:
# for outerKey, innerDict in output.items():
#     for innerKey, values in innerDict.items():
#         if innerKey == 'column_score':
#             reformed_dict[values] = 
      
        
        
        
#         if values == 'hatespeech_1':
#             print(outerKey, innerKey, values)

In [420]:
output_df = pd.DataFrame(output, columns = list_columns)

In [422]:
output_df.columns.values

array(['sentiment_4', 'sentiment_3', 'sentiment_2', 'sentiment_0',
       'sentiment_1', 'respect_4', 'respect_3', 'respect_2', 'respect_0',
       'respect_1', 'insult_3', 'insult_2', 'insult_0', 'insult_1',
       'humiliate_0', 'humiliate_1', 'humiliate_2', 'status_1',
       'status_0', 'dehumanize_0', 'dehumanize_1', 'violence_phys_0',
       'violence_phys_1', 'genocide_0', 'genocide_1', 'attack_defend_2',
       'attack_defend_1', 'attack_defend_3', 'attack_defend_0',
       'hatespeech_0', 'hatespeech_1'], dtype=object)

In [419]:
len(output_df.columns.values)

39565

In [374]:
dataframe = pd.DataFrame(columns = list_columns)
temp_series = pd.Series(number_labelers_list, index = list_index)
dataframe = dataframe.append(temp_series, ignore_index=True)

In [354]:
dataframe

,sentiment_4,sentiment_3,sentiment_2,sentiment_0,sentiment_1,respect_4,respect_3,respect_2,respect_0,respect_1,...,300,301,302,303,304,305,306,307,308,309
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,0.0,0.0,3.0,0.0,4.0,3.0,0.0,2.0,1.0

In [216]:
list_columns = []
for column in data_fleiss.columns:
    number_column = data_fleiss[column].value_counts().index.to_list()
    for score in number_column:
        list_columns.append(column + '_' + str(int(score)))

In [217]:
sorted(list_columns)

['attack_defend_0',
 'attack_defend_1',
 'attack_defend_2',
 'attack_defend_3',
 'dehumanize_0',
 'dehumanize_1',
 'genocide_0',
 'genocide_1',
 'hatespeech_0',
 'hatespeech_1',
 'humiliate_0',
 'humiliate_1',
 'humiliate_2',
 'insult_0',
 'insult_1',
 'insult_2',
 'insult_3',
 'respect_0',
 'respect_1',
 'respect_2',
 'respect_3',
 'respect_4',
 'sentiment_0',
 'sentiment_1',
 'sentiment_2',
 'sentiment_3',
 'sentiment_4',
 'status_0',
 'status_1',
 'violence_phys_0',
 'violence_phys_1']

In [350]:
dataframe = pd.DataFrame(columns = list_columns)
temp_list = []
for column in data_fleiss.columns:
    column_values = sorted(data_fleiss[column].value_counts().index.to_list())
    for comment_id in unique_comment_ids[0:1]:
        for i in column_values:
            #temp_list = []
            temp_list.append(len(np.unique(data_multi[(data_multi[column] == i) & (data_multi['comment_id'] == comment_id)]['labeler_id'].values)))
temp_series = pd.Series(temp_list, index = dataframe.columns)
dataframe = dataframe.append(temp_series, ignore_index=True)
dataframe

,sentiment_4,sentiment_3,sentiment_2,sentiment_0,sentiment_1,respect_4,respect_3,respect_2,respect_0,respect_1,...,violence_phys_0,violence_phys_1,genocide_0,genocide_1,attack_defend_2,attack_defend_1,attack_defend_3,attack_defend_0,hatespeech_0,hatespeech_1
0,1,4,0,0,0,2,2,1,0,0,...,5,0,5,0,4,1,0,0,5,0

In [331]:
comment_id_list = []
column_score_list = []
number_labelers_list = []
for idx in range(len(big_list)):
    comment_id_list.append(big_list[idx][0])
    column_score_list.append(big_list[idx][1])
    number_labelers_list.append(big_list[idx][2])

In [341]:
# comment_id_list
# column_score_list
# number_labelers_list

In [333]:
print(len(comment_id_list))
print(len(column_score_list))
print(len(number_labelers_list))

310
310
310

In [296]:
# for idx in big_list:
#     print(idx)

In [311]:
# print('initial list', str(big_list))

# res1, res2 = map(list, zip(*big_list))

# print('final list', res1, "\n", res2)

In [314]:
# for idx in range(len(big_list)):
#     print(idx)

In [194]:
fleiss_dictionary = {}

for column in data_fleiss.columns:
    comment_dict = {}
    column_values = sorted(data_fleiss[column].value_counts().index.to_list())
    
    for comment_id in unique_comment_ids[0:10]:
        for i in column_values:
            #print('comment_id:', comment_id, 'column:', column, 'score:', i, 'number of labelers:', len(np.unique(data_multi[(data_multi[column] == i) & (data_multi['comment_id'] == comment_id)]['labeler_id'].values)))
            number_labelers = len(np.unique(data_multi[(data_multi[column] == i) & (data_multi['comment_id'] == comment_id)]['labeler_id'].values))
            string_column_values = column + '_' + str(int((i))
            comment_dict[comment_id] = {string_column_values: number_labelers}
        fleiss_dictionary[comment_id] = comment_dict

SyntaxError: invalid syntax (<ipython-input-194-7387c66454f3>, line 12)

In [375]:
column_values_test = sorted(data_fleiss['sentiment'].value_counts().index.to_list())
column_values_test

[0.0, 1.0, 2.0, 3.0, 4.0]

In [183]:
fleiss_dict = {1111: {'sentiment_0': 4, 'sentiment_1': 3}, 2222: {'sentiment_0': 4, 'sentiment_1': 3}}

In [191]:
pd.DataFrame.from_dict(fleiss_dict, orient='index')

      sentiment_0  sentiment_1
1111            4            3
2222            4            3

In [158]:
#calculate the number of unique labelers for each 

for column in data_fleiss.columns:
    column_values = sorted(data_fleiss[column].value_counts().index.to_list())
    for i in column_values:
        print(column, i, len(np.unique(data_multi[data_multi[column] == i]['labeler_id'].values)))

sentiment 0.0 5501
sentiment 1.0 5336
sentiment 2.0 6899
sentiment 3.0 7651
sentiment 4.0 7903
respect 0.0 6207
respect 1.0 5140
respect 2.0 7229
respect 3.0 7537
respect 4.0 7896
insult 0.0 7698
insult 1.0 6581
insult 2.0 7680
insult 3.0 7751
humiliate 0.0 7897
humiliate 1.0 7647
humiliate 2.0 6937
status 0.0 7897
status 1.0 7835
dehumanize 0.0 7905
dehumanize 1.0 7750
violence_phys 0.0 7912
violence_phys 1.0 7723
genocide 0.0 7912
genocide 1.0 7254
attack_defend 0.0 6853
attack_defend 1.0 7687
attack_defend 2.0 7776
attack_defend 3.0 7597
hatespeech 0.0 7911
hatespeech 1.0 7860

In [162]:
#calculate the number of unique labelers for each 

for column in data_fleiss.columns:
    column_values = sorted(data_fleiss[column].value_counts().index.to_list())
    connections = [print(column, i, len(np.unique(data_multi[data_multi[column] == i]['labeler_id'].values))) for i in column_values]

sentiment 0.0 5501
sentiment 1.0 5336
sentiment 2.0 6899
sentiment 3.0 7651
sentiment 4.0 7903
respect 0.0 6207
respect 1.0 5140
respect 2.0 7229
respect 3.0 7537
respect 4.0 7896
insult 0.0 7698
insult 1.0 6581
insult 2.0 7680
insult 3.0 7751
humiliate 0.0 7897
humiliate 1.0 7647
humiliate 2.0 6937
status 0.0 7897
status 1.0 7835
dehumanize 0.0 7905
dehumanize 1.0 7750
violence_phys 0.0 7912
violence_phys 1.0 7723
genocide 0.0 7912
genocide 1.0 7254
attack_defend 0.0 6853
attack_defend 1.0 7687
attack_defend 2.0 7776
attack_defend 3.0 7597
hatespeech 0.0 7911
hatespeech 1.0 7860

In [ ]:
#have labelers labeled the same comment more than once? 
data_multi

In [83]:
# outer_values = []
# outer_counts = []

# for comment in data_multi['comment_id']:
#     values = data_multi[data_multi['comment_id'] == comment]['sentiment'].value_counts().keys().to_list()
#     counts = data_multi[data_multi['comment_id'] == comment]['sentiment'].value_counts().to_list()

In [95]:
values = [data_multi[data_multi['comment_id'] == comment]['sentiment'].value_counts().keys().to_list() for comment in data_multi['comment_id']]

In [98]:
values[0]

[1.0, 0.0]

In [87]:
counts = [data_multi[data_multi['comment_id'] == comment]['sentiment'].value_counts().to_list() for comment in data_multi['comment_id']]

In [99]:
counts[0]

[4, 1]

In [101]:
dict(zip(values[0], counts[0]))

{1.0: 4, 0.0: 1}

In [78]:
data_multi[data_multi['comment_id'] == 47777]['sentiment'].value_counts()

1.0    4
0.0    1
Name: sentiment, dtype: int64

In [ ]:
range(len(data_multi['sentiment'].value_counts()))

In [ ]:

data_multi[data_multi['sentiment'] == 0]['sentiment'].count()

In [ ]:
for i in features:
    print(i)
    print(data_multi[i].value_counts())

In [ ]:
#i guess we could do Fleiss Kappa for each item
#where it's dehumanize 0, dehumanize 1, dehumanize 2
#these are mutually exclusive

In [ ]:
#then we would have like 9 fleiss kapa (one for each item)
#still the problem of how to divide into different subgroups?

In [ ]:
#is there something besides fleiss' kappa that we want ot use?

In [ ]:
data_combo

In [ ]:
data_combo.iloc[:, 0:5]

In [ ]:
points = [1, 4, 2, 9, 7, 8, 9, 3, 1]

x = points.count(9)
x

In [ ]:
data_multi[data_multi['sentiment'] == 0]['sentiment'].count()

In [ ]:
# comment = []
# for score in data_multi['sentiment']:
#     comment.append(score)
# comment

In [ ]:
data_multi['comment_id']

In [5]:
x = []
x.append(data_multi[data_multi['comment_id'] == 47777]['sentiment'].value_counts())
type(x)
x

[1.0    4
 0.0    1
 Name: sentiment, dtype: int64]

In [6]:
range(len(data_multi['sentiment'].value_counts()))

range(0, 5)

In [8]:
# {comment_id: {0: 1, 1:3, 2:0, 4:1}}

In [9]:
data_multi[data_multi['comment_id'] == comment]['sentiment'].value_counts().index

Float64Index([3.0, 2.0], dtype='float64')

In [10]:
range(len(data_multi[data_multi['comment_id'] == comment]['sentiment'].value_counts()))

range(0, 2)

In [16]:
enumerate(data_multi[data_multi['comment_id'] == 47777]['sentiment'].value_counts().index.tolist())

In [65]:
out_score = []
out_counts = []

for score, idx in enumerate(data_multi[data_multi['comment_id'] == 47777]['sentiment'].value_counts().index.tolist()):
                      
    out_score.append(score)
    counts = data_multi[data_multi['comment_id'] == 47777]['sentiment'].value_counts()[idx]
    out_counts.append(counts)

In [66]:
print(out_score)
print(out_counts)

[0, 1]
[4, 1]

In [67]:
out_counts.sort()
print(out_counts)

[1, 4]

In [68]:
out_dict = dict(zip(out_score, out_counts))
out_dict

{0: 1, 1: 4}

In [70]:
out_comment = [47777]

dict(zip(out_comment, out_dict))

{47777: 0}

In [3]:
for i in range(len(data_multi[data_multi['comment_id'] == 47777]['sentiment'].value_counts())):
    print(data_multi[data_multi['comment_id'] == 47777]['sentiment'].value_counts().to_list()[i])

4
1

In [14]:
data_multi[data_multi['comment_id'] == 47777]['sentiment'].value_counts()

1.0    4
0.0    1
Name: sentiment, dtype: int64

In [7]:
dictionary_valuecounts = {}
keys = range(len(data_multi[data_multi['comment_id'] == 47777]['sentiment'].value_counts()))

for i in keys:
    values = data_multi[data_multi['comment_id'] == 47777]['sentiment'].value_counts().to_list()
    dictionary_valuecounts[i] = values[i]

dictionary_valuecounts

{0: 4, 1: 1}

In [15]:
# for comment in data_multi['comment_id']:
#     keys = range(len(data_multi[data_multi['comment_id'] == comment]['sentiment'].value_counts()))

In [5]:
#this is a list comprehension
#[range(len(data_multi[data_multi['comment_id'] == comment]['sentiment'].value_counts())) for comment in data_multi['comment_id']]

In [4]:

comment_id = []
dictionary_valuecounts = {}
for comment in data_multi['comment_id']:
    keys = range(len(data_multi[data_multi['comment_id'] == comment]['sentiment'].value_counts()))
#     comment_id.append(comment)
    
    for i in keys:
        values = data_multi[data_multi['comment_id'] == comment]['sentiment'].value_counts().to_list()
#         dictionary_valuecounts[i] = values[i] #this is the key value pair addition
    
        
    
# print(dictionary_valuecounts)

KeyboardInterrupt:

In [ ]:
dictionary_fleiss = dict(zip(comment_id, dictionary_valuecounts))

In [ ]:
for i in data_multi['sentiment'].value_counts():
    print(i)
for j in data_multi['sentiment'].value_counts().index:
    print(j)

In [ ]:
data_multi['sentiment'].value_counts().index